.about_body{
    background-color: map-get($Mapcolor, 'blue');
}
// about上面
.about_header_bg{
    background-color:  map-get($Mapcolor, 'white');
    width: 100%;
    height: 200px;
    padding:35px ;

    img{
        width: 120px;
        margin: 0 auto;
        display: block;
    }
}
// about樹
.about_bg{
    background-image: url(../images/xiaojiang/tree.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    color:  map-get($Mapcolor, 'white');
    margin: 60px auto;
    width: 1000px;
    height: 950px;
    position: relative;
}

// about虛線框框
.about_main{
    border: dashed 5px  map-get($Mapcolor, 'white');
    border-radius: 40px;
    width: 400px;
    height: 280px;
    position: absolute;
    top:120px;
    left:300px;
    h1{
        text-align: center;
        margin: 20px;
    }
    h4{
        margin-left: 25px;
    }
    // 右邊按鈕
    .about_main_bottom{
        display: flex;
        margin: 25px;
        justify-content: space-between;
        a,button{
            margin-left: 30px;
            margin-bottom: 20px;
        }
    }
}


// about成員
.about_img_yelian img{
    width: 120px;
    position:absolute;
    top:150px;
    left:100px;
    cursor: pointer;
    animation: yelian .5s  infinite ;
}
.about_img_berlin img{
    width: 120px;
    position:absolute;
    top:400px;
    left:150px;
    cursor: pointer;
    animation: berlin .4s  infinite;
}
.about_img_betty img{
    width: 120px;
    position:absolute;
    top:480px;
    left:350px;
    cursor: pointer;
    animation: betty .6s  infinite;
}
.about_img_owen img{
    width: 120px;
    position:absolute;
    top:480px;
    left:560px;
    cursor: pointer;
    animation: owen .4s  infinite;
}
.about_img_jiang img{
    width: 120px;
    position:absolute;
    top:400px;
    left:720px;
    cursor: pointer;
    animation: jiang .6s  infinite;
}
.about_img_renyen img{
    width: 120px;
    position:absolute;
    top:150px;
    left:800px;
    cursor: pointer;
    animation: renyen .5s  infinite;
}
// about成員動畫
@keyframes yelian {
    0% {
        top:150px;
    }
    100% {
        top:140px;
    }
}
@keyframes berlin {
    0% {
        top:400px;
    }
    100% {
        top:390px;
    }
}
@keyframes betty {
    0% {
        top:480px;
    }
    100% {
        top:470px;
    }
}
@keyframes owen {
    0% {
        top:480px;
    }
    100% {
        top:470px;
    }
}
@keyframes jiang {
    0% {
        top:400px;
    }
    100% {
        top:390px;
    }
}
@keyframes renyen {
    0% {
        top:150px;
    }
    100% {
        top:140px;
    }
}

// about燈箱
.mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 99;
  }
  .popup{
    width: 800px;
    height: 550px;
    padding: 15px;
    background-color:  map-get($Mapcolor, 'blue');
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
    z-index: 99;
  }
    //裡面白線
    .about_card_out{
    border: 5px solid  map-get($Mapcolor, 'white');
    border-radius: 50px;
    height: 520px;
    display: flex;
    // 左邊頭貼
    .about_card_left{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin: auto 30px;
        background-color:  map-get($Mapcolor, 'white');
        img{
            display: block;
            width: 200px;
            margin: 40px auto;
        }
    }
    // 右邊文字
    .about_card_right{
        .about_card_span{
            color: map-get($Mapcolor, 'white');
            width: 380px;
        }
        span{
            margin-top: 30px;    
            display: flex;
            font-size: 24px;
        }
        p{  
            margin-top: 30px;  
            font-size: 24px;
            height: 200px;
            // border: 1px solid red;
        }

    }
    // 按鈕
    .about_card_button{
        display: flex;       
    }
  }

// about---------------media query--------------------
@media (max-width: 575.98px){
    .about_bg{
        background-image:none;
        width:100%;
        height: auto;

        img{
            position: static;
            display: block;
            margin: 50px auto;
        }
    }
    //虛線框框
    .about_main{
        position: static;
        width: 360px;
        margin: 0 auto;
    }
    // 彈窗
    .popup{
        width: 360px;
        height: 300px;
        padding: 10px;
        border-radius: 30px;
    }

    .about_card_out{
        border-radius: 30px;
        height: 280px;
        // 頭貼
        .about_card_left{
            width: 140px;
            height: 140px;
            margin: auto 10px;
            img{
                width: 100px;
                margin: 10px auto;
            }
        }
        // 文字
        .about_card_right{
            width: 170px;
            .about_card_span{
                width: 170px;
            }
            span{
                margin-top: 15px;
                font-size: 14px;
            }
            p{
                margin-top: 15px;
                font-size: 14px;
                height: 120px;
            }
        }
        // 按鈕
        .about_card_button{
            a,button{
                width: 120px;
                height: 30px;
                line-height: 25px;
                margin: 5px;
                font-size: 12px;
            }
        }

    }


}

// about---------------media query--------------------