.activity_body{
    font-family: $fontFamily; 
    width: 100%;
}


/* activity_banner */
.activity_banner{
    background-image: url(../images/xiaojiang/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 700px;
    display: flex;
    .activity_banner_inner{
        border: 3px map-get($Mapcolor, 'white') solid;
        width: 850px;
        height: 350px;
        margin: auto;
        color: map-get($Mapcolor, 'white');
        img{    
            margin: 35px auto;
            display: block;
            width: 120px;
        }  
        h1{
            text-align: center;
            font-size: 60px;
        }
        h5{
            text-align: center;
            padding-top: 20px;
        }
    }
}

// activity背景
.activity_bg_blue{
    background-color: map-get($Mapcolor, 'blue');
    width: 100%;             
}
.activity_bg_bottom{
    position: relative; 
    img{
    width: 100%;
    display: block;
    }
}
 // activity藍色鳥鳥
.activity_bluebird{
    width: 200px;
    margin: 0 auto;
    .activity_img_bluebird{
        width: 150px;
        z-index: -50;
        position: absolute;
        top: -20%;         
    }
    .activity_img_dialog{
        width: 200px;
        z-index: -50;
        position: absolute;
        cursor: pointer;
        top: 70%;    
        left: 35%;
        opacity: 0;  
    }
}
// activity麵包屑
.activity_ul_breadcrumb {
    padding: 70px 0px 100px 150px;
    color: map-get($Mapcolor, 'white');
    display: flex;
    font-size: 20px;
    li{
        margin-left: 10px;
    }
    a{
    text-decoration:none;
    color: map-get($Mapcolor, 'white');
        &:hover{
            color: map-get($Mapcolor, 'yellow');                    
        }
    }
}


/* activity嶼我同行 */
.activity_main_us {
    color: map-get($Mapcolor, 'white');
    h1{
        font-weight: bold;
        font-size: 80px;
        padding: 50px 0 50px 200px;
    }
    h4{
        margin: 80px 0 80px 200px;
        font-weight: bold;
    }
    ul{
        /* border: 1px blue solid; */
        width: 1000px;
        margin-left: 200px;
    }
    li{
        display: flex;
        margin-bottom: 150px;
        img{
            display: block;
            border-radius: 50%;
        }
        span{
            font-size: 24px;
            display: flex;
            flex-direction:column;
            line-height: 55px;
            margin-left: 80px;
            margin-right: 80px;
        }
        a{
            line-height: 40px;
            margin-top: 60px;
        }
    }
    //更多活動按鈕裝飾鳥
    .activity_button_wb{
        margin: 0 auto;
        width: 200px;
        position: relative;
        img{
            position: absolute;
            top: -50px;
            left: 160px;
        }
        // 更多活動按鈕
        .activity_more_us{
        margin: 0 auto;
        font-size: 20px;
        }
    }

}


/* activity嶼友同行 */
.activity_main_user{
    color: map-get($Mapcolor, 'blue');   ;
    h1{
        font-size: 80px;
        font-weight: bold;
        padding: 150px 200px 50px 0;
        display: flex;
        justify-content: flex-end;
    }
    h4{
        font-weight: bold;
        margin: 80px 200px 80px 0;
        display: flex;
        justify-content: flex-end;
    }
    ul{
        width: 1000px;
        float: right;
        margin-right: 200px;
    }
    li{
        display: flex;
        margin-bottom: 150px;
        span{
            font-size: 24px;
            display: flex;
            flex-direction:column;
            line-height: 55px;
            margin-left: 80px;
            margin-right: 80px;
        }
        .activity_a_beside a{
            line-height: 40px;
            margin-top: 60px;
        }
        .activity_right_avatar{
            position: relative;
            img{
                padding-left: 20px;
                display: block;
                border-radius: 50%;
            }
            #avatar{
                width: 120px;
                height: 120px;
                border-radius: 50%;
                border: 5px solid map-get($Mapcolor, 'yellow');
                position: absolute;
                bottom: 0;
            }
        }

    }
    // 更多揪團按鈕裝飾鳥
    .activity_button_bb{
        margin: 0 auto;
        width: 200px;
        position: relative;
        clear:both;
        img{
            position: absolute;
            top: -45px;
        }
        // 更多揪團按鈕
        .activity_more_user{
            margin: 0 auto;
            font-size: 20px;

        }
    }
}

// ---------------media query--------------------
@media (max-width: 575.98px){
    .activity_banner{
        width: 100%;
        .activity_banner_inner{
            width: 100vw;
            margin: auto 20px;     
        }
    }
    .activity_bg_blue{

    }
    // 嶼我同行
    .activity_main_us{
        h1{
            font-size: 60px;
            padding: 10px;
            text-align: center;
        }
        h4{
            margin: 50px auto;
            text-align: center;
        }
        ul{
            width: 100vw;
            margin:0;
        }
        li{ 
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-bottom: 80px;
            span{
                margin:0 auto;
                text-align:center;
            }
            img{
                margin: 20px auto;
                width: 250px;
                height: 250px;
                
            }
        }

    }
    .activity_a_beside{
        display: flex;
        margin: 0;
        a{ 
            margin: 0 auto;
            width: 150px;
            font-size: 20px;
        }
    
    }
    // 藍色鳥鳥
    .activity_bluebird{
        .activity_img_bluebird{  
            left: 50%;
            top: -50%;     
        }
        .activity_img_dialog{
            top: 120%;    
            left: 10%;
        }
    }
    // 嶼友同行
    .activity_main_user{
        h1{
            font-size: 60px;
            margin-top: 220px;
            padding: 10px;
            text-align: center;
            justify-content: center; 
        }
        h4{
            margin: 50px auto;
            text-align: center;
            justify-content: center; 
        }
        ul{ 
            float: none;
            width: 100vw;
            flex-wrap: wrap;
            margin:0;
        }
        li{
            display: flex;
            flex-direction: column-reverse;
            flex-wrap: wrap;
            margin-bottom: 80px;
            span{
                margin:0 auto;
                text-align:center;
            }
            .activity_right_avatar{
                margin: 0 auto;
                position: relative;
                img{
                    padding-left: 20px;
                    display: block;
                    border-radius: 50%;
                    width: 250px;
                    height: 250px;
                }
                #avatar{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    border: 5px solid map-get($Mapcolor, 'yellow');
                    position: absolute;
                    bottom: 0;
                }
            }
        }
        

    }

}
