
    // 上面banner
    .activityList_banner{
        height: 700px;
        background-color: $blue;
        display: flex;
        .activityList_banner_inner{
            background-image: url(../images/backgroundimg/activityListTop.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            width: 1200px;
            height: 460px;
            margin: auto;
            color: $white;
            a{  margin: 35px auto;
                display: block;
                width: 120px;
            }
            h1{
                text-align: center;
                background-color: $blue;
                width: 480px;
                height: 135px;
                line-height: 135px;
                display: block;
                margin: 0 auto;
            }
            h5{
                text-align: center;
                padding-top: 20px;
            }
        }
    }
    // 麵包屑
    .activityList_ul_breadCrumbs{
        margin: 50px;
        color: $blue;
        display: flex;
        font-size: 20px;
        li{
            margin-left: 10px;
        }
        a{
        text-decoration: none;
        color: $blue
        }
        a:hover{
            color: $yellow;                    
        }
    }

// 下面
.activityList_wrapper{
        color: $blue;
        width: 100%;
        margin: -13% auto 0;
        // 背景
        .activityList_main_bg{
            width: 100%;
            .activityList_main_bgtop,.activityList_main_bgbottom{
                width: 100%;
                display: block;
            }
            .activityList_main_bgcenter{
                background-color: map-get($Mapcolor, 'yellow');;
                width: 100%;
            }
        }

        // 切換頁面
        .activityList_ul_switch{
            display: flex;
            font-size: 2rem;
            width: 310px;
            height: 7rem;
            border: 3px $blue solid;
            border-radius: 5rem;
            justify-content: space-between;
            margin-left: 65%;
            padding: 0 15px;
            background-color: $white;
            position: relative;
            top: 219PX;
            .iconify{
                position: absolute;
                color: $blue;
                top:-65px;
                right: 0;
                transform: scaleX(-100%);
            }
            li{
                width: 140px;
                height: 5rem;
                line-height: 5rem;
                margin-top: 7.5px;
                border-radius: 5rem;
                text-align: center;
                cursor: pointer;

            }
            .activityList_li_now{
                color:$white;
                background-color: $blue;
            }

        }
        .activityList_main{
            width: 1000px;
            margin: 0 auto;
        }
        // 上面篩選
        .activityList_ul_type{
            display: flex;
            width: 100%;
            justify-content: space-between;
            cursor: pointer;
            li{
                font-size: 2rem;
                height: 7rem;
                line-height: 7rem;
                border: 5px $blue solid;
                width: 150px;
                text-align: center;
                border-radius: 10px 10px 0 0;
                background-color: $white;
            }
            // 切換頁面目前所在位置
            .li_now{
                color:$white;
                background-color: $blue;
            }
        }

        //清單
        .activityList_ul_list {
            background-color: $white;
            border: 5px $blue solid;
            width: 1000px;
            margin: 0 auto;
            border-bottom-left-radius:20px 20px;
            border-bottom-right-radius:20px 20px;
            
            li{
                display: flex;
                padding: 10px;
                justify-content: center;

                img{
                    margin: 20px;
                    object-fit: cover;
                    width: 250px;
                    height: 250px;
                    display: block;
                    border-radius: 50%;

                }
                .activityList_span{
                    width: 300px;
                    margin: 20px;
                }
                span{
                    font-size: 2rem;
                    display: flex;
                    flex-direction:column;
                    line-height: 50px;
                }
                .activityList_a_beside{
                    margin: 15px;
                }
                .activityList_a_beside a{
                    line-height: 40px;
                    margin: 20px;
                    margin-top: 50px;
                }
            }
        }

            // 點我揪團去
            .activityList_p{
                padding: 50px 0 0;
                // font-size: 3.2rem;
                text-align: center;
                a{
                    color:$blue 
                }
            }
            

}



   
// activityList---------------media query--------------------
@media (max-width: 575.98px){

 // 上面banner
 .activityList_banner{
    height: 550px;

    display: flex;
    .activityList_banner_inner{
        width: 100%;
        height: 460px;
        margin: auto;
        a{  margin: 35px auto;
            display: block;
            width: 120px;
        }
        h1{
            text-align: center;
            background-color: $blue;
            width: 100%;
            height: 135px;
            line-height: 135px;
            display: block;
            margin: 0 auto;
        }
        h5{
            text-align: center;
            padding-top: 20px;
        }
    }
    }
    // 麵包屑
    .activityList_ul_breadCrumbs{
        margin: 50px auto;
    }


// 下面
.activityList_wrapper{
    width: 100%;

    // 切換頁面(嶼我/嶼友)
    .activityList_ul_switch{
        display: flex;
        font-size: 2rem;
        width: 310px;
        height: 7rem;
        border: 3px $blue solid;
        border-radius: 5rem;
        justify-content: space-between;
        margin-left: 15%;
        padding: 0 15px;
        background-color: $white;
        position: relative;
        top: 28px;
    }
    
    .activityList_main_bgtop{
        margin-top: -10%;
        display: block;
    }
    .activityList_main{
        width: 100%;
        margin: -1px auto;
        padding: 20px 10px;
    }

    // 上面篩選
    .activityList_ul_type{
        width: 100%;
        li{ 
            height: auto;
            line-height: 2;
            width: 150px;
            font-size: 1.2rem;;
        }
    }
    //清單
    .activityList_ul_list {
        width: 100%;
        margin: 0 auto;
        padding-top: 10px;
        li{
            display: flex;
            padding: 0;
            flex-direction: column;
            flex-wrap: wrap;
            margin-bottom: 30px;
            img{
                margin: 20px auto;
                width: 200px;
                height: 200px;
            }
            .activityList_span{
                width: 250px;
                margin: 20px auto;
            }
            span{
                margin:0 auto;
                text-align:center;
                line-height: 33px;
            }
            .activityList_a_beside{
                margin: 0;
                display: flex;
            }
            .activityList_a_beside a{
                margin: 0 auto;
                width: 150px;
                font-size: 1.6rem;
            }
        }
    }

        // 點我揪團去
        .activityList_p{
            padding: 30px;
            font-size: 2rem;
        }  

}
   
}
// activityList---------------media query--------------------