

.attraction_div_wrapperB{
    width: 100%;
    padding-top: 120px;
    color: map-get($Mapcolor, 'white');
    
    .attraction_main_slider{
        max-width: 1100px;
        // border: 1px solid #000;
        position: relative;
        margin: 0 auto;
        
        .attraction_div_head{
            width: 50%;
            position: absolute;
            top: -12%;
            left: 8%;
            // border: 1px solid rgb(231, 129, 129);
            z-index: 2;
            
            img{
                display: inline-block;
                width: 100px;
            }
            h5{
                display: inline-block;
                line-height: 100px;
                vertical-align: top;
                margin-left: 5%;
            }
        }
        
        .attraction_mainslider{
            
            img{
                max-width: 100%;
                border-radius: 40px;
                margin: 0 auto;
            }

            .slick-dots{
                display: flex;
                justify-content: end;
                margin-top: 30px;
                gap: 14px;
                width: 95%;
    
                li>button{
                    width: 15px;
                    height: 15px;
                    border: 2px solid map-get($Mapcolor, 'yellow');
                    background-color: map-get($Mapcolor, 'white');
                    border-radius: 50%;
                    cursor: pointer;
    
                    &:hover{
                        background-color: map-get($Mapcolor, 'yellow');
                    }
                }
            }
            li.slick-active button{
                background-color: map-get($Mapcolor, 'yellow');
            }

        }

        .attraction_img_slidermask{
            // border: 1px solid rgb(154, 141, 66);
            display: block;
            position: absolute;
            width: 36.2%;
            top: 53%;
            left: -0.1%;
        }
    
        .attraction_div_title{
            position: absolute;
            top: 64%;
            left: 3%;
    
            h1{
                margin-bottom: 20px;
            }
        }
         
        .attraction_a_nextSpotBtn{
            position: absolute;
            top: 85%;
            left: 19%;
            // border: 1px solid rgb(189, 141, 141);
            width: 203px;
            height: 27px;
            text-decoration: none;
            background-image: url('../images/backgroundimg/attraction_arrow.svg');
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: bottom;
            color: map-get($Mapcolor, 'white');
        
            h5{
                width: 75%;
                text-align: center;
                color: map-get($Mapcolor, 'yellow');
                font-weight: bold;
            }
        }

        .cloud3{
            position: absolute;
            width: 13%;
            top: -2%;
            left: 84%;
            z-index: 5;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        } 
        
        .cloud4{
            position: absolute;
            width: 10%;
            top: -4%;
            left: 70%;
            z-index: 5;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }  

    } 
    
    .createEvent_ul_breadcrumb{
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        font-size: 20px;

        a{
            text-decoration: none;
            color: map-get($Mapcolor, 'white');

            &:hover{
                color: map-get($Mapcolor, 'yellow');                    
            }
        }
    }

    .attraction_section_info1{
        // border: 1px solid rgb(159, 102, 102);
        margin: 55px auto 0;
        display: flex;
        align-items: center;
        gap: 10%;
        max-width: 1440px;
 
        img{
            display: block;
            border-radius: 0 50px 50px 0;
            max-width: 55%;
        }
        h5{
            width: 20%;
            color: map-get($Mapcolor, 'yellow'); 
            line-height: 40px;
        }
    }
    
}

.attraction_section_info2{
    // border: 1px solid rgb(159, 102, 102);
    margin: 55px auto 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10%;
    max-width: 1440px;

    position: relative;

    h5{
        width: 20%;
        color: map-get($Mapcolor, 'blue'); 
        line-height: 40px;
    }
    .pic{
        display: block;
        border-radius: 50px 0 0 50px;
        max-width: 55%;
    }

    .birdsm{
        position: absolute;
        width: 4%;
        top: -20%;
        left: 66%;
        transform: scaleX(-1) rotate(-3deg);
    }

    .birdlg{
        position: absolute;
        width: 6%;
        top: -29.7%;
        left: 72%;
        transform: rotate(-4deg);
    }

    .cloud1{
        position: absolute;
        width: 15%;
        top: 212%;
        left: -3%;
        z-index: 5;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }   
    
    .cloud2{
        position: absolute;
        width: 15%;
        top: 108%;
        left: 2%;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        z-index: 5;
    }  
}

.attraction_section_morepic{
    // border: 1px solid rgb(176, 136, 237);
    max-width: 1440px;
    margin: 100px auto 0;
    padding: 24px 0px 60px;
    
    position: relative;
    overflow: hidden;
    
    .morepic_block{
        background-color: map-get($Mapcolor, 'white');
        width: 30%;
        height: 450px;
        position: absolute;
        top: 0;
        left: 50%;
        
        h4{
            width: 45%;
            margin: 30% auto 20%;
            text-align: center;
            line-height: 40px;
        }   
    }

    .moreEventBtn{
        position: absolute;
        top: 55%;
        left: 57%;
    }
    
    .ul_sliderpic{
        // border: 1px solid #000;
        height: 400px;
        width: 100%;
	    position: relative;
        
        .slick-dots{
            display: flex;
            justify-content: center;
            margin-top: 30px;
            gap: 14px;

            li>button{
                width: 15px;
                height: 15px;
                border: 2px solid map-get($Mapcolor, 'blue');
                background-color: map-get($Mapcolor, 'white');
                border-radius: 50%;
                cursor: pointer;

                &:hover{
                    background-color: map-get($Mapcolor, 'blue');
                }
            }
        }
        li.slick-active button{
            background-color: map-get($Mapcolor, 'blue');
        }

        
    }
}



// ---------------media query--------------------

@media (max-width: 575.98px){
    .attraction_div_wrapperB{
        padding-top: 80px;

        .attraction_main_slider{
            // border: 1px solid #000;
            
            .attraction_div_head{
                width: 80%;
                top: -16%;
                left: 8%;
                // border: 1px solid rgb(231, 129, 129);

                img{
                    max-width: 60px;
                }
                h5{
                    line-height: 60px;
                    font-size: 1rem;
                }
            }
            
            .attraction_mainslider{
            
                img{
                    max-width: 95%;
                    height: 58vw;
                    border-radius: 40px;
                    margin: 0 auto;
                }
    
                .slick-dots{
                    display: flex;
                    justify-content: end;
                    margin-top: 30px;
                    gap: 14px;
                    width: 93%;
        
                    li>button{
                        width: 15px;
                        height: 15px;
                        border: 2px solid map-get($Mapcolor, 'yellow');
                        background-color: map-get($Mapcolor, 'white');
                        border-radius: 50%;
                        cursor: pointer;
        
                        &:hover{
                            background-color: map-get($Mapcolor, 'yellow');
                        }
                    }
                }
                li.slick-active button{
                    background-color: map-get($Mapcolor, 'yellow');
                }
    
            }

            .attraction_img_slidermask{
                // border: 1px solid rgb(154, 141, 66);
                width: 45%;
                top: 46%;
                left: -0.5%;
            }
        
            .attraction_div_title{
                position: absolute;
                top: 57%;
                left: 3%;
        
                h1{
                    margin-bottom: 5px;
                    font-size: 2.6rem;
                }

                h5{
                    font-size: 1rem;
                }
            }
            
            .attraction_a_nextSpotBtn{
                position: absolute;
                top: 76%;
                left: 22%;
                // border: 1px solid rgb(189, 141, 141);
                width: 25%;
                height: 16px;
            
                h5{
                    font-size: 1rem;
                }
            }
        
        }

        .createEvent_ul_breadcrumb{
            max-width: 1000px;
            padding-left: 5%;
            li{
                margin-left: 2%;
                
            }
        }
    
    
        .attraction_section_info1{
            margin: 30px auto 0;
            flex-direction: column;
            
            img{
                min-width: 90%;
                align-self: start;
                border-radius: 0 26px 26px 0;
                
            }
            
            h5{
                font-size: 1.6rem;
                margin-top: 10%;
                min-width: 80%;
            }
        }
    }


    .attraction_section_info2{
        margin: 30px auto 0;
        flex-direction: column;
        
        h5{
            font-size: 1.6rem;
            min-width: 80%;
            order: 2;
        }
        
        .pic{
            min-width: 90%;
            margin-bottom: 10%;
            align-self: flex-end;
            border-radius: 26px 0 0 26px;
            order: 1;
        }

        .birdsm{
            position: absolute;
            width: 7%;
            top: -10%;
            left: 45%;
            transform: scaleX(-1) rotate(-4deg);
        }
    
        .birdlg{
            position: absolute;
            width: 9%;
            top: -12.6%;
            left: 56%;
            transform: rotate(-4deg);
        }

        .cloud1{
            position: absolute;
            width: 25%;
            top: 156%;
            left: 75%;
            z-index: 5;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }   
        
        .cloud2{
            position: absolute;
            width: 25%;
            top: 107%;
            left: 2%;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            z-index: 5;
        }  
    }

    .attraction_div_bg{
        margin-top: -1px;
    }

    .attraction_section_morepic{
        // border: 1px solid rgb(176, 136, 237);
        margin: 60px auto 0;
        padding: 0px 0px 100px;
        
        .morepic_block{
            display: none;            
        }
        
        .moreEventBtn{
            position: absolute;
            top: 80%;
            left: 23%;
        }
        
        .ul_sliderpic{
            height: initial;
            left: 5%;

            li{
                margin-right: 5%;
                
                img{
                    width: 90vw;
                }
            }
        }
    
    }
}

