#contactUs_frame{
    width: 969px;
    height: 700px;
    border: 5px solid map-get($Mapcolor, 'blue');
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 68px;
    text-align: center;
    position: relative;
    background-color: map-get($Mapcolor, 'white');
    .closeFrame{
        background-color: transparent;
        border: none;
        position: absolute;
        top: 26px;
        right: 22px;
        cursor: pointer;
    }

    .h3{
        font-weight: 700;
        margin: 0;
        margin-top: 42px;
    }

    .formWrapper{
        width: 500px;
        color: map-get($Mapcolor, 'blue');
        margin: 0 auto;
        margin-top: 38px;
        text-align: initial;
    }

    .standard{
        width: 500px;
        height: 50px;
        border: 2px solid map-get($Mapcolor, 'blue');
        border-radius: 10px;
    }

    .fixed{
        height: 245px;
    }

    .h4{
        margin: 0;
        width: 500px;
        position: relative;
        top: 16px;
        .mainQuery{
            padding-left: 22px;
        }
        .email{
            padding-left: 32px;
        }
        .mainContent{
            padding-left: 60px;
        }
    }

    .subBtn{
        margin: 18px auto;
    }
}