

.createEventConfirm_div_wrapper{
    background-image: url('../images/backgroundimg/createConfirmbg.svg');
    background-repeat: no-repeat;
    background-size: 100% 98%;
    background-color: map-get($Mapcolor, 'blue');
    // width: 1263px;
    max-width: 1440px;
    // border: 1px solid #000;
    margin: 0 auto;
    color: map-get($Mapcolor, 'white');

    position: relative;
    z-index: 2;

    .marquee{
        width: 100%;
        // border: 1px solid blue;
        color: map-get($Mapcolor, 'blue');
        font-size: 9rem;
        line-height: 100px;
        // line-height: 80px;
        font-weight: bold;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: absolute;
        top: 22%;
        z-index: -2;
        white-space: nowrap;
        overflow: hidden;
    }

    .createEventConfirm_div_container{
        width: 1200px;
        // border: 1px solid #F99090;
        margin: 0 auto;
        padding-top: 60px;
        position: relative;

        h5{
            color: map-get($Mapcolor, 'blue');
            font-weight: bold;
            text-align: center;
            margin: 40px 0;
        }

        .createEventConfirm_div_member{
            width: 180px;
            height: 180px;
            border-radius: 50%;
            border: 8px solid map-get($Mapcolor, 'yellow');

            position: absolute;
            top: 29%;
            left: 27%;

            img{
                width: 80%;
                display: block;
                // margin: 10% auto;
                margin: 8% auto;
            }
        }

        .createEvent_ul_breadcrumb{
            a{
                text-decoration: none;
                color: map-get($Mapcolor, 'white');

                &:hover{
                    color: map-get($Mapcolor, 'yellow');                    
                }
            }
        }
    }
}

.createEventConfirm_div_uploadimg{
    width: 500px;
    height: 500px;
    margin: 0 auto 135px;
    // margin: 0 auto 105px;
    // border: 1px solid #000;
    // overflow: hidden;
    img{
        width: 100%;
        border-radius: 50%;
    }
}


.createEventConfirm_section_eventDetail{
    border: 5px dashed map-get($Mapcolor, 'yellow');
    border-radius: 30px;
    margin: 85px auto 95px;
    padding: 35px;
    width: 700px;
    height: 480px;
    // margin: 68px auto 76px;
    // padding: 28px;
    // width: 560px;
    // height: 384px;

    position: relative;

    ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // border: 1px solid #ccc;

        h4:first-child{
            width: 200px;
            // width: 160px;
            font-weight: bold;
            display: inline-block;
        }
        h4:last-child{
            width: 265px;
            // width: 212px;
            display: inline-block;
        }
    }

    // little elements
    .iconifyB{
        position: absolute;
        top: 79%;
        left: 80%;
    }

    .createEventConfirm_icon_cloud1{
        width: 35%;
        position: absolute;
        top: -25%;
        left: 71%;
    }

    .createEventConfirm_icon_cloud2{
        width: 35%;
        position: absolute;
        top: 6%;
        left: 92%;
    }

    .createEventConfirm_icon_birdY{
        position: absolute;
        top: -2%;
        left: 105%;
        z-index: -1;
    }
    .iconifyY{
        position: absolute;
        top: 213%;
        left: 70%;
    }
}

.createEventConfirm_section_eventContent{
    margin: 0 auto 110px;
    padding: 35px;
    width: 700px;
    height: 365px;
    // border: 1px solid #000;

    h4:first-child{
        font-weight: bold;
        margin-bottom: 30px;
        // margin-bottom: 24px;
    }
    h4:last-child{
        line-height: 1.7;
        // line-height: 1.36;
    }
}

.createEventConfirm_div_btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
    a{
        display: inline-block;
        // text-decoration: none;
        color: map-get($Mapcolor, 'white');
        font-size: 2rem;
        margin-right: 127px;
        &:hover{
            color: map-get($Mapcolor, 'yellow');
        }
    }
    input{
        display: inline-block;
    }
    
}


