@mixin table{
    @media (max-width: 1200px){
        @content;
    }
}

@mixin m{
    @media (max-width: 576px){
        @content;
    }
}

// -----------------------------------------
// 可共用?
.createEvent_div_wrapperB{
    // min-width: 100%;
    background-image: url('../images/backgroundimg/Vector.svg');
    background-repeat: no-repeat;
    // background-size: 100% 120%;
    max-width: 1440px;
    // width: 1263px;
    // max-width: 100%;
    // width: 100%;
    // min-width: 1440px;
    // border: 1px solid #000;
    margin: 0 auto;
}

// 1200可共用?
.createEvent_div_container{
    width: 1200px;
    padding-top: 35px;
    // border: 1px solid #F99090;
    margin: 0 auto;
    color: #fff;

    position: relative;

    @include table{
        max-width: 100%;
    }
    
    .iconify{
        position: absolute;
        top: 12%;
        left: 10%;
    }
    main{
        .createEvent_icon_cloud1{
            width: 20%;
            position: absolute;
            top: 16%;
            left: -8%;

        }
        .createEvent_icon_cloud2{
            width: 20%;
            position: absolute;
            top: 23%;
            left: 11%;
        }
        .createEvent_icon_arrow{
            width: 12%;
            position: absolute;
            top: 26%;
            left: 71%;
        }
        .createEvent_icon_cloud3{
            width: 20%;
            position: absolute;
            top: 53%;
            left: 16%;
        }
        .createEvent_icon_cloud4{
            width: 20%;
            position: absolute;
            top: 55%;
            left: 43%;
        }

        .iconify{
            position: absolute;
            top: 96.4%;
            left: 42.8%;
        }
        .createEvent_section_feeAndDeadline{
            div{
                position: absolute;
                top: 54%;
                left: 70%;
                background-color: #F2BF61;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                cursor: pointer;
                .iconify{                
                    top: 20%;
                    left: 20%;
                }
            }
        }
    }
}

.createEvent_div_logo{
    width: 120px;
    height: 120px;
    margin: 0 auto 3%;
}

.createEvent_div_title{
    text-align: center;
}

// 可共用?
.createEvent_ul_breadcrumb{
    margin-left: 70px;
    margin-top: 35px;
    li{
        display: inline-block;
        font-size: 20px;
        margin-right: 5px;

        a{
            text-decoration: none;
            color: map-get($Mapcolor, 'white');

            &:hover{
                color: map-get($Mapcolor, 'yellow');                    
            }
        }
    }
}

.createEvent_section_rule{
    border: 5px dashed #F2BF61;
    border-radius: 30px;
    margin: 7% auto 5%;
    padding: 5% 7%;
    width: 60%;
    height: 20%;

    h3{
    font-weight: bold;
    margin-bottom: 6%;
    }

    h4{
        line-height: 50px;
        letter-spacing: .5em;
    }
}


.createEvent_div_createForm{
    margin: 0 auto 2%;
    // border: 1px solid rgb(240, 235, 148);
    width: 65%;
    height: 15%;

    display: flex;
    justify-content: space-around;

    ul{
        // border: 1px solid green;
        padding-top: 2%;
    }

    h4{
        font-weight: bold;
    }

    input, select, textarea{
        border: 2px solid map-get($Mapcolor, 'white');
        border-radius: 10px;
        width: 300px;
        height: 50px;
        background-color: transparent;
        margin: 20px 0 40px;
        color: map-get($Mapcolor, 'white');
        font-size: 2rem;
        outline: none;
        padding: 10px;
    }

    option{
        text-align: center;
        font-size: 1.5rem;
        border-radius: 30px;
        color: map-get($Mapcolor, 'blue');
    }

    span{
        color: red;
        font-weight: bold;
        margin-left: 10px;
    }
}

.createEvent_ul_formL li textarea{
    height: 180px;
}

.createEvent_section_feeAndDeadline{
    width: 800px;
    margin: 0 auto 20%;

    @include table{
        width: 100%;
    }

    h4{
        text-align: center;
        margin-bottom: 5%;
        font-weight: bold;
    }

    span{
        margin-left: 5%;
        font-size: 2rem;
    }
}

// --------------------------------
.createEvent_div_choosePhoto{
    border: 5px solid rgba(47, 72, 88, 0.3);
    box-shadow: 6px 12px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    background-color: #fff;
    width: 85%;
    height: 500px;
    margin: 0 auto 7%;

    display: flex;
}

.createEvent_div_choosePhotoL{
    // border: 1px solid pink;
    flex-grow: 6;

    h3{
        border: 5px solid rgba(0, 0, 0, 0.3);
        border-width: 2px 5px 5px 2px;
        border-radius: 34px 3px 34px 3px;
        color: #2F4858;
        font-weight: bold;
        line-height: 80px;
        text-align: center;
    }

    label{
        font-weight: bold;
        margin: 0 auto;
        cursor: pointer;
    }

    input{
        display: none;
    }
}

.createEvent_div_photoZone{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 35px auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-image: url('../images/backgroundimg/createEvent_presetimg1.webp');
}


.createEvent_div_choosePhotoR{
    // border: 1px solid purple;
    padding: 2% 5%;
    flex-grow: 4;

    img{
        width: 100%;
    }

    ul{
        margin: 5% auto;
        overflow-y: auto;
        // overflow-x: hidden;
        width: 95%;
        height: 95%;
        // border: 1px solid #000;
        padding-left: 2%;

        //捲軸主體
        &::-webkit-scrollbar {
            width: 25px;
        }
        //捲軸底色
        &::-webkit-scrollbar-track {
            border: 2px solid rgba(47, 72, 88, 0.3);
            border-radius: 40px;
            background: #FFFFFF;
        }
        //捲軸本體顏色
        &::-webkit-scrollbar-thumb {
            background-color: #2F4858;
            border-radius: 40px;
        }
    }
    li{
        width: 200px;
        height: 160px;
        display: block;
        overflow: hidden;
        border-radius: 40px;
        margin-bottom: 35px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        cursor: pointer;
    }

}




.createEvent_section_note{
    width: 65%;
    height: 10%;
    border: 5px dashed #F2BF61;
    border-radius: 30px;
    margin: 0 auto 115px;
    padding: 55px;

    h4{
        color: #2F4858;
        line-height: 40px;
        letter-spacing: .5em;
        font-weight: bold;
    }
}

.createEvent_btn_submitCreate{
    margin: 0 auto 30px;
    font-family: $fontFamily;
}