$logo-w: 120px;
$p-top: 20px;

#allIncluded{
    width: 100%;
    // outline: 5px solid red;
    background-color: map-get($Mapcolor, 'white');
    margin: 0 auto;
    
}

#headerWrapper{
    width: 100%;
    height: 700px;
    background-color: map-get($Mapcolor,'blue');
    box-sizing: border-box;
    padding: 120px 120px;
    #bgimgFrame{
        width: 100%;
        height: 460px;
        margin: 0 auto;
        background-image: url(../images/faq/lake.jpg);
        background-size: cover;
        background-attachment: scroll;
        #logoFrame{
            .aTagWidth{
                display: block;
                width: 120px;
                margin: 0 auto;
                    img{
                    width: $logo-w;
                    display: block;
                    margin: 0 auto;
                    padding-top: $p-top;
            }
            }
            
        }
        .subtitle{
            color: map-get($Mapcolor, 'white');
            padding-top: $p-top;
            text-align: center;
        }
        #faqFrame{
            width: 52.8%;
            height: 29.4%;
            margin: 0 auto;
            margin-top: $p-top;
            background-color: map-get($Mapcolor,'blue');
        }
            text-align: center;
            .title{
                color: map-get($Mapcolor,'white');
                line-height: 135px;
                font-weight: 700;
            }
    }
}

.breadCrumb{
    width: 120px;
    margin-top: 35px;
    margin-left: 150px;
    font-size: map-get($fontSize, 'type-1');

    a{
        
        color: map-get($Mapcolor, 'blue');
        text-decoration: none;
    };
    span{
            color: map-get($Mapcolor, 'blue');
    }
    .crumpFaq{
        color: map-get($Mapcolor, 'blue');
        display: inline-block;
    }
};

.cloudFrame{
    width: 100%;
    height: 220px;
    position: relative;
    .cloud1{
        width: 275px;
        position: absolute;
        top: -164px;
        left: 63%;
    }

    .cloud2{
        width: 275px;
        position: absolute;
        top: -28px;
        left: 75%;
    }

    .ybirdSmall{
        transform: scaleX(-1);
        width: 48px;
        margin-right: 8px;
        position: absolute;
        top: 146px;
        left: 16%;
        z-index: 1;
    }
    .ybirdBig{
        position: absolute;
        top: 118px;
        left: 21%;
        z-index: 1;
    }
}
// Accordion---------
.augurio-collapse{
    width: calc(100% - 150px);
    margin: 0 auto;
    position: relative;
    .collapse{
        background-color: map-get($Mapcolor, 'blue');
        color: white;
        padding-left: 40px;
        border-radius: 10px 10px 0px 0px;
        height: 70px;
        overflow: hidden;
        transition: all 1s;
    }
    .collapse.yellow{
        background-color: map-get($Mapcolor, 'yellow');
    }
  .title-box, .contents{
    padding: 12px;
  }
}
  
    // collapse title
    .title-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .icons{
        position: absolute;
        right: 12px;
        .vertival{
            position: absolute;
            background-color: map-get($Mapcolor, 'white');
            width: 3px;
            height: 20px;
            left: 50%;
            margin-left: -1px;
            top: 50%;
            margin-top: -10px;
            transition: all 0.4s ease-in-out;
            transform: rotate(0deg);
        }
        .horizontal{
            position: absolute;
            background-color: map-get($Mapcolor, 'white');
            width: 20px;
            height: 3px;
            left: 50%;
            margin-left: -10px;
            top: 50%;
            margin-top: -1px;
            transition: all 0.4s ease-in-out;
            transform: rotate(180deg);
            opacity: 1;
        }
      }    

    // icons transform active
    &.active .icons{
        opacity: 1;
        .vertical {
          transition: all 0.4s ease-in-out;
          transform: rotate(90deg);
        }
        .horizontal {
          transition: all 0.4s ease-in-out;
          transform: rotate(90deg);
          opacity: 0;
        }
    }
  
  
}

// General
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
// Layout
.row {
  display:flex;
  .col {
    flex:1;
    &:last-child {
      margin-left: 1em;
    }
  }
}
/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
}
.tab {
  width: 100%;
  color: map-get($Mapcolor, 'white');
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: map-get($Mapcolor, 'blue');
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &.yellow{
        background: map-get($Mapcolor, 'yellow');
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: map-get($Mapcolor, 'black');
    background: map-get($Mapcolor, 'white');
    transition: all .35s;
    font-family: Zen Maru Gothic;
    font-weight: 700;
    border: 2px solid map-get($Mapcolor, 'blue');
    &.yellow{
        border: 2px solid map-get($Mapcolor, 'yellow');
    }
  }
//   &-close {
//     display: flex;
//     justify-content: flex-end;
//     padding: 1em;
//     font-size: 0.75em;
//     background: $midnight;
//     cursor: pointer;
//     &:hover {
//       background: darken($midnight, 10%);
//     }
//   }
}

// :checked
input:checked {
  + .tab-label {
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
    line-height: 36px;
  }
}

// RWD 首頁 575.98px 版本==================================================================================================================

@media (max-width: 575.98px){
    #headerWrapper{
        padding: 0px 0px;
        height: 490px;
        .subtitle{
            font-size: 24px;
        }
    }

    .cloudFrame{
        .cloud1{
            width: 24%;
            top: -114px;
        }
        .cloud2{
            width: 24%;
            top: -28px;
        }
        .ybirdSmall{
            left: 21%;
        }
        .ybirdBig{
            left: 32%;
        }
    }

    .augurio-collapse{
        width:  calc(100% - 60px);
    }
}
