$logo-w: 120px;
$p-top: 20px;

#allIncluded{
    width: 100%;
    // outline: 5px solid red;
    background-color: map-get($Mapcolor, 'white');
    margin: 0 auto;
    
}

#headerWrapper{
    width: 100%;
    height: 700px;
    background-color: map-get($Mapcolor,'blue');
    box-sizing: border-box;
    padding: 120px 120px;
    #bgimgFrame{
        width: 100%;
        height: 460px;
        margin: 0 auto;
        background:{
            image: url(/images/faq/lake.jpg);
            position: center;
            size: cover;
        }
        #logoFrame{
            img{
                width: $logo-w;
                display: block;
                margin: 0 auto;
                padding-top: $p-top;
            }
        }
        .subtitle{
            color: map-get($Mapcolor, 'white');
            padding-top: $p-top;
            text-align: center;
        }
        #faqFrame{
            width: 52.8%;
            height: 29.4%;
            margin: 0 auto;
            margin-top: $p-top;
            background-color: map-get($Mapcolor,'blue');
        }
            text-align: center;
            .title{
                color: map-get($Mapcolor,'white');
                line-height: 135px;
                font-weight: 700;
            }
    }
}

.breadCrumb{
    width: 120px;
    margin-top: 35px;
    margin-left: 150px;
    font-size: map-get($fontSize, 'type-1');

    a{
        
        color: map-get($Mapcolor, 'blue');
        text-decoration: none;
    };
    span{
        font:{
            color: map-get($Mapcolor, 'blue');
            
        }
    }
    .crumpFaq{
        color: map-get($Mapcolor, 'blue');
        display: inline-block;
    }
};

.cloudFrame{
    width: 100%;
    height: 220px;
    position: relative;
    .cloud1{
        width: 275px;
        position: absolute;
        top: -164px;
        left: 63%;
    }

    .cloud2{
        width: 275px;
        position: absolute;
        top: -28px;
        left: 75%;
    }

    .ybirdSmall{
        transform: scaleX(-1);
        width: 48px;
        margin-right: 8px;
        position: absolute;
        top: 146px;
        left: 16%;
        z-index: 1;
    }
    .ybirdBig{
        position: absolute;
        top: 118px;
        left: 21%;
        z-index: 1;
    }
}
// Accordion---------
.augurio-collapse{
    width: calc(100% - 150px);
    margin: 0 auto;
    position: relative;
    .collapse{
        background-color: map-get($Mapcolor, 'blue');
        color: white;
        padding-left: 40px;
        border-radius: 10px 10px 0px 0px;
        height: 70px;
        overflow: hidden;
        transition: all 1s;
    }
    .collapse.yellow{
        background-color: map-get($Mapcolor, 'yellow');
    }
  .title-box, .contents{
    padding: 12px;
  }
}
  
    // collapse title
    .title-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .icons{
        position: absolute;
        right: 12px;
        .vertival{
            position: absolute;
            background-color: map-get($Mapcolor, 'white');
            width: 3px;
            height: 20px;
            left: 50%;
            margin-left: -1px;
            top: 50%;
            margin-top: -10px;
            transition: all 0.4s ease-in-out;
            transform: rotate(0deg);
        }
        .horizontal{
            position: absolute;
            background-color: map-get($Mapcolor, 'white');
            width: 20px;
            height: 3px;
            left: 50%;
            margin-left: -10px;
            top: 50%;
            margin-top: -1px;
            transition: all 0.4s ease-in-out;
            transform: rotate(180deg);
            opacity: 1;
        }
      }    

    // icons transform active
    &.active .icons{
        opacity: 1;
        .vertical {
          transition: all 0.4s ease-in-out;
          transform: rotate(90deg);
        }
        .horizontal {
          transition: all 0.4s ease-in-out;
          transform: rotate(90deg);
          opacity: 0;
        }
    }
  
  
}
  // collapse contents
  .contents-box{
    overflow: hidden;
    border-top: none;
    border-bottom: none;
    transition: height .3s ease;
  }
    
  .collapse{
    &:last-of-type .contents-box{
    border-bottom: 1px solid #CCC;
  }
}

// RWD 首頁 575.98px 版本==================================================================================================================

@media (max-width: 575.98px){

}
