// 首頁背景
.index_body{
    background-color: #2F4858;
    color: map-get($Mapcolor, 'white');;
  
}
// 首頁標題
.index_title_top{
    width: 100%;
    height: 100vh;
    // border: 1px red solid;
    display: flex;
    display: flex;
    z-index: 0;
    .index_h1_before{
        font-size: 96px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -280px;
    }
    .index_img_title{
        display: block;
        width: 120px;
        height: 120px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -120px;
        margin-left: -80px;
    }
    .index_img_yb{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -180px;
        margin-left: 120px;
        // border: 1px red solid;
    }
    .index_h1_after{
        font-size: 96px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: 40px;
    }
 }

// 首頁字
.index_word_1{
    color: black;

    img{
        width: 100%;
        display: block;
    }
    .index_word_bg{
        background-color: white;
        width: 100%;
        height: 600px;
    }
    .index_h3_1{
        text-align: right;
        width: 1200px;
        margin: 0 auto;
        padding: 100px;
    }
    .index_h3_2{
        width: 1200px;
        margin: 0 auto;
        padding: 100px;
    }
}
.index_word_2{
    height: 600px;

    .index_h3_3{
        text-align: right;
        width: 1200px;
        margin: 0 auto;
        padding: 50px;
    }
    .index_h3_4{
        width: 1200px;
        margin: 0 auto;
        padding: 50px;
    }
}
.index_word_3{
    color: black;
    img{
        width: 100%;
        display: block;
    }
    .index_word_bg2{
        background-color: white;
        width: 100%;
        height: 300px;
    }
    .index_h3_5{
        text-align: right;
        width: 1200px;
        margin: 0 auto;
    }
}


// 首頁雲
#islandWrapper2{
    display: none;
}
.index_cloud{
    width: 100%;
    height: 100vw;
    position: relative;
    img{
        display: block;
        position: absolute;
        // border: 1px solid red;
        z-index: 10;
    }
    .index_cloud_1{
        width: 30vw;
        top: 5%;
        left: 0%;
    }
    .index_cloud_2{
        width: 50vw;
        top: -5%;
        left: 20%;
    }
    .index_cloud_3{
        width: 40vw;
        top: 5%;
        left: 58%;
    }
    .index_cloud_4{
        width: 50vw;
        top: 25%;
        left: 45%; 
    }
    .index_cloud_5{
        width: 55vw;
        top: 5%;
        left: 20%;

    }
    .index_cloud_6{
        width: 30vw;
        top: -10%;
        left: 50%;

    }
    .index_cloud_7{
        width: 40vw;
        top: 20%;
        left: 10%;   
    }
   
}


//鳥嶼==================================================

    // 動畫影格設定
    @keyframes tree {
        from{
            transform-origin: center bottom;
            transform: rotate(-3deg);
        }
        to{
            transform-origin: center bottom;
            transform: rotate(3deg);
        }
    }

    @keyframes cloud {
        from{
            transform: translateX(-5px);
        }
        to{
            transform: translateX(5px);
        }
    }

    @keyframes ballon_blue {
        0%{
            transform: translateX(-100px);
            transform: rotateX(40deg);
        }
        20%{
            transform: translateX(-80px);
            transform: rotateX(20deg);
        }
        40%{
            transform: translateX(0px);
            transform: rotateX(40deg);
        }
        60%{
            transform: translateX(20px);
            transform: rotateX(20deg);
        }
        100%{
            transform: translateX(100px);
            transform: rotateX(40deg);
        }
    }

    @keyframes ballon_white {
        0%{
            left: 64%;
            transform: rotateX(40deg);
        }
        20%{
            transform: rotateX(20deg);
        }
        40%{
            transform: rotateX(40deg);
        }
        60%{
            transform: rotateX(20deg);
        }
        100%{
            left: 52%;
            transform: rotateX(40deg);
        }
    }

    @keyframes ballon_typhoon {
        0%{
            left: 55%;
            transform: rotateX(40deg);
        }
        20%{
            transform: rotateX(20deg);
        }
        40%{
            transform: rotateX(40deg);
        }
        60%{
            transform: rotateX(20deg);
        }
        100%{
            left: 70%;
            transform: rotateX(40deg);
        }
    }

    @keyframes coconuttree {
        from{
            transform: rotateX(20deg);
        }        
        to{
            transform: rotateX(40deg);
        }
    }

    @keyframes streetlight {
        from{
            transform: rotateX(15deg);
        }        
        to{
            transform: rotateX(0deg);
        }
    }

    @keyframes landscapeHoverAnimation {
        from{
            transform-origin: center bottom;
            transform: rotate(6deg);
        }
        to{
            transform-origin: center bottom;
            transform: rotate(-6deg);
        }
    }
    //================================================== 
    .treeA{
        animation: {
        name: tree;
        duration: 5s;
        iteration-count: infinite;
        timing-function: ease-out;
        direction: alternate;
        }    
    }

    .treeB{
        animation: {
            name: tree;
            duration: 5s;
            delay: .5s;
            iteration-count: infinite;
            timing-function: ease-out;
            direction: alternate;
        }
    }

    .treeC{
        animation: {
            name: tree;
            duration: 5s;
            iteration-count: infinite;
            timing-function: ease-out;
            direction: alternate;
        }
    }

    .treeD{
        animation: {
            name: tree;
            duration: 5s;
            delay: .5s;
            iteration-count: infinite;
            timing-function: ease-out;
            direction: alternate;
        }
    }

    .bush{
        animation: {
            name: tree;
            duration: 3s;
            delay: .5s;
            iteration-count: infinite;
            timing-function: ease-out;
            direction: alternate;
        }
    }
    .islandSceneObject{
        position: relative;
        margin: auto;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }    

    .islandItself{
        width: 1200px;
        height: 1200px;
        margin: 0 auto;
        position: relative;
    }

    .birdIsland{
        display: block;
        margin: 0 auto;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -999;
    }
    
    // 馬丘比丘======================
    .machuPicchu{
        width: 96%;
    }
    .atagHoverMachuPicchu{
        display: block;
        position: absolute;
        top: 14.7%;
        left: 28%;
        opacity: 1;
        transition: 5s;
        &:hover{
            animation: {
                name: landscapeHoverAnimation;
                duration: 1s;
                iteration-count: infinite;
                timing-function: ease-in-out;
                direction: alternate;
            }
        }
    }

    .river{
        position: absolute;
        top: 17.2%;
        left: 10.2%;
        width: 73.33%;
        z-index: -1;
    }

    // 商店========================
    .store{
        width: 91.3%;
        
    }
    .atagHoverStore{
        position: absolute;
        top: 44.8%;
        left: 50.5%;
        opacity: 1;
        height: 105px;
        z-index: 1;
        transition: 1s;
        &:hover{
            animation: {
                name: landscapeHoverAnimation;
                duration: 1s;
                iteration-count: infinite;
                timing-function: ease-in-out;
                direction: alternate;
            }
        }   
    }

    // 熱氣球==========================
    .baBlue{
        position: absolute;
        top: 21.4%;
        left: 60%;
        animation: {
            name: ballon_blue;
            duration: 4s;
            delay: 2s;
            iteration-count: infinite;
            timing-function: ease-in-out;
            direction: alternate;
        }
    }
    .baWhite{
        position: absolute;
        top: 26.6%;
        left: 58%;
        z-index: 6;
        animation: {
            name: ballon_white;
            duration: 4s;
            iteration-count: infinite;
            timing-function: ease-in-out;
            direction: alternate;
        }
    }
    .baYellow{
        position: absolute;
        top: 24.6%;
        left: 80%;
        z-index: 5;
        animation: {
            name: ballon_typhoon;
            duration: 4s;
            delay: .5s;
            iteration-count: infinite;
            timing-function: ease-in-out;
            direction: alternate;
        }
    }

    // 鬼屋============================
    .ghostHouse{
        width: 86%;
    }
    .atagHoverGhostHouse{
        position: absolute;
        top: 20.2%;
        left: 17.6%;
        opacity: 1;
        z-index: 1;
        transition: 1s;
        &:hover{
            animation: {
                name: landscapeHoverAnimation;
                duration: 1s;
                iteration-count: infinite;
                timing-function: ease-in-out;
                direction: alternate;
            }
        }
    }

    .yellowCloud{
        width: 8.5%;
        position: absolute;
        top: 23%;
        left: 16%;
        animation: {
            name: cloud;
            duration: 5s;
            delay: 1s;
            iteration-count: infinite;
            timing-function: ease-out;
            direction: alternate;
        }
    }

    .pinkCloud{
        width: 3.5%;
        position: absolute;
        top: 25%;
        left: 25.3%;
        animation: {
            name: cloud;
            duration: 5s;
            iteration-count: infinite;
            timing-function: ease-out;
            direction: alternate;
        }
    }

    .snowMoutain{
        width: 80%;
        
    }
    .atagHoverSnowMoutain{
        position: absolute;
        top: 26.6%;
        left: 41%;
        z-index: 3;
        &:hover{
            animation: {
                name: landscapeHoverAnimation;
                duration: 1s;
                iteration-count: infinite;
                timing-function: ease-in-out;
                direction: alternate;
            }
        }
    }
    
    .waterfall{
        width: 80.8%;
    }
    .atagHoverWaterfall{
        position: absolute;
        top: 33.1%;
        left: 39.4%;
        z-index: 3;
        &:hover{
            animation: {
                name: landscapeHoverAnimation;
                duration: 1s;
                iteration-count: infinite;
                timing-function: ease-in-out;
                direction: alternate;
            }
        }
    }

    // 動物園===========================
    .elephant{
        width: 5.25%;
        position: absolute;
        top: 42.4%;
        left: 31%;
        &:hover{
            animation: {
                name: landscapeHoverAnimation;
                duration: 1s;
                iteration-count: infinite;
                timing-function: ease-in-out;
                direction: alternate;
            }
        }
    }
    .panda{
        width: 5.25%;
        position: absolute;
        top: 45%;
        left: 34.1%;
        &:hover{
            animation: {
                name: landscapeHoverAnimation;
                duration: 1s;
                iteration-count: infinite;
                timing-function: ease-in-out;
                direction: alternate;
            }
        }
    }
    .giraffe{
        width: 5.25%;
        position: absolute;
        top: 40.6%;
        left: 37.4%;
        &:hover{
            animation: {
                name: landscapeHoverAnimation;
                duration: 1s;
                iteration-count: infinite;
                timing-function: ease-in-out;
                direction: alternate;
            }
        }
    }
    // 燈塔============================
    .lightHouse{
        width: 9.16%;
        height: 9.83%;
        position: absolute;
        top: 42.2%;
        left: 78.8%;
    }

    // 遊樂園==========================
    .rollerCoaster{
        width: 15.08%;
        position: absolute;
        top: 37%;
        left: 54.3%;
        &:hover{
            animation: {
                name: landscapeHoverAnimation;
                duration: 1s;
                iteration-count: infinite;
                timing-function: ease-in-out;
                direction: alternate;
            }
        }
    }
    .ferryWheel{
        width: 9.25%;
        position: absolute;
        top: 34.4%;
        left: 62.8%;
        z-index: 1;
        &:hover{
            animation: {
                name: landscapeHoverAnimation;
                duration: 1s;
                iteration-count: infinite;
                timing-function: ease-in-out;
                direction: alternate;
            }
        }
    }
    .carousel{
        width: 4.66%;
        position: absolute;
        top: 39.2%;
        left: 56.8%;
        &:hover{
            animation: {
                name: landscapeHoverAnimation;
                duration: 1s;
                iteration-count: infinite;
                timing-function: ease-in-out;
                direction: alternate;
            }
        }
    }
    // 橋哦 有兩座=========================
    .br1{
        width: 5.83%;
        height: 2.08%;
        position: absolute;
        top: 28%;
        left: 35.4%;
        animation: {
            name: coconuttree;
            duration: 1s;
            delay: .5s;
            iteration-count: infinite;
            timing-function: ease-out;
            direction: alternate;
        }
    }
    .br2{
        width: 5.83%;
        height: 2.08%;
        position: absolute;
        top: 52.4%;
        left: 42%;
        animation: {
            name: coconuttree;
            duration: 1s;
            delay: .5s;
            iteration-count: infinite;
            timing-function: ease-out;
            direction: alternate;
        }
    }

    // 噴水池=============================
    .fountain{
        width: 4.17%;
        position: absolute;
        top: 34%;
        left: 25.4%;
    }

    // 椅子啦 ==============================
    .ch1{
        width: 3.67%;
        position: absolute;
        top: 45.4%;
        left: 66.9%;
        z-index: 1;
    }
    .ch2{
        width: 3.58%;
        position: absolute;
        top: 50.8%;
        left: 47.4%;
    }

    //椰子樹兩顆===============================
    .ct1{
        position: absolute;
        width: 4.6%;
        top: 45.8%;
        left: 74.9%;
        animation: {
            name: coconuttree;
            duration: 1s;
            delay: .5s;
            iteration-count: infinite;
            timing-function: ease-out;
            direction: alternate;
        }
    }
    .ct2{
        position: absolute;
        width: 4.6%;
        top: 49.3%;
        left: 85.6%;
        transform: scaleX(-1);
        animation: {
            name: coconuttree;
            duration: 1s;
            delay: .5s;
            iteration-count: infinite;
            timing-function: ease-out;
            direction: alternate;
        }
    }

    .bush{
        animation: {
            name: coconuttree;
            duration: 1s;
            delay: .5s;
            iteration-count: infinite;
            timing-function: ease-out;
            direction: alternate;
        }
    }

    .b1{
        width: 1.92%;
        position: absolute;
        top: 22.8%;
        left: 32%;
    }
    .b2{
        width: 1.92%;
        position: absolute;
        top: 22.8%;
        left: 29.5%;
    }
    .b3{
        width: 1.92%;
        position: absolute;
        top: 22.8%;
        left: 34%;
    }
    .b4{
        width: 1.92%;
        position: absolute;
        top: 22.8%;
        left: 36.5%;
    }
    .b5{
        width: 1.92%;
        position: absolute;
        top: 25.8%;
        left: 31.2%;
    }
    .b6{
        width: 1.92%;
        position: absolute;
        top: 25.2%;
        left: 40.2%;
    }
    .b7{
        width: 1.92%;
        position: absolute;
        top: 26.5%;
        left: 37.5%;
    }
    .b8{
        width: 1.92%;
        position: absolute;
        top: 27.5%;
        left: 40.3%;
        z-index: 2;
    }

    // 路燈================================
    .streetLight{
        animation: {
            name: streetlight;
            duration: 1s;
            delay: .5s;
            iteration-count: infinite;
            timing-function: ease-out;
            direction: alternate;
        }
    }

    .st1{
        width: .67%;
        height: 4.17;
        position: absolute;
        top: 31.7%;
        left: 27.8%;
    }
    .st2{
        width: .67%;
        height: 4.17%;
        position: absolute;
        top: 36%;
        left: 24.6%;
    }
    .st3{
        width: .67%;
        height: 4.17%;
        position: absolute;
        top: 40.8%;
        left: 29.3%;
    }
    .st4{
        width: .67%;
        height: 4.17%;
        position: absolute;
        top: 39.3%;
        left: 38.2%;
    }
    .st5{
        width: .67%;
        height: 4.17%;
        position: absolute;
        top: 43%;
        left: 71%;
        z-index: 1;
    }
    .st6{
        width: .67%;
        height: 4.17%;
        position: absolute;
        top: 42.9%;
        left: 53.3%;
    }
    .st7{
        width: .67%;
        height: 4.17%;
        position: absolute;
        top: 46.2%;
        left: 50.5%;
    }

    //大綠樹=======================
    .ta1{
        width: 3.75%;
        position: absolute;
        top: 20.8%;
        left: 26.5%;
    }
    .ta2{
        width: 3.75%;
        position: absolute;
        top: 20.5%;
        left: 37.2%;
    }
    .ta3{
        width: 4%;
        position: absolute;
        top: 25.8%;
        left: 45.8%;
        z-index: 2;
    }
    .ta4{
        width: 3.75%;
        position: absolute;
        top: 30.8%;
        left: 19.8%;
        z-index: 1;
    }
    .ta5{
        width: 3.75%;
        position: absolute;
        top: 31.9%;
        left: 23%;
        z-index: 1;
    }
    .ta6{
        width: 4.83%;
        position: absolute;
        top: 43%;
        left: 40%;
        z-index: 1;
    }
    .ta7{
        width: 5.58%;
        position: absolute;
        top: 33%;
        left: 51.6%;
        z-index: 3;
    }
    .ta8{
        width: 4.66%;
        position: absolute;
        top: 31%;
        left: 38.2%;
        z-index: 2;
    }
    .ta9{
        width: 5.58%;
        position: absolute;
        top: 41.3%;
        left: 66.9%;
        z-index: 1;
    }
    .ta10{
        width: 5.58%;
        position: absolute;
        top: 41.5%;
        left: 49.6%;
    }
    .ta11{
        width: 3.92%;
        position: absolute;
        top: 44.8%;
        left: 56.6%;
        height: 49px;
    }
    .ta12{
        width: 200%;
    }
    .atagHoverJungle{
        position: absolute;
        top: 27%;
        left: 28.5%;
        z-index: 1;
        &:hover{
        animation: {
            name: landscapeHoverAnimation;
            duration: 1s;
            iteration-count: infinite;
            timing-function: ease-in-out;
            direction: alternate;
        }
    }
    }
    
    //黃色的大樹===========================
    .tb1{
        width: 3.5%;
        position: absolute;
        top: 21.8%;
        left: 24.8%;
    }
    .tb2{
        width: 2.92%;
        position: absolute;
        top: 22.4%;
        left: 37.2%;
        z-index: 1;
    }
    .tb3{
        width: 5.17%;
        position: absolute;
        top: 37.9%;
        left: 30.1%;
        z-index: 2;
    }
    .tb4{
        width: 3.92%;
        position: absolute;
        top: 45.2%;
        left: 30.6%;
        z-index: 1;
    }
    .tb5{
        width: 3.75%;
        position: absolute;
        top: 33.6%;
        left: 37.4%;
        z-index: 3;
    }
    .tb6{
        width: 3.5%;
        position: absolute;
        top: 34.8%;
        left: 49.2%;
        z-index: 3;
    }
    .tb7{
        width: 4.17%;
        position: absolute;
        top: 39%;
        left: 46%;
        z-index: 4;
    }
    .tb8{
        width: 4.17%;
        position: absolute;
        top: 35.4%;
        left: 45.5%;
        z-index: 3;
    }
    .tb9{
        width: 4.17%;
        position: absolute;
        top: 47%;
        left: 60%;
    }
    .tb10{
        width: 4.17%;
        position: absolute;
        top: 46.9%;
        left: 45.2%;
    }
    .tb11{
        width: 4.58%;
        position: absolute;
        top: 38.6%;
        left: 69.5%;
    }
    

    .tc1{
        width: 2.67%;
        height: 4.16%;
        position: absolute;
        top: 21.2%;
        left: 34.2%;
        z-index: 1;
    }
    .tc2{
        width: 2.33%;
        height: 4.16%;
        position: absolute;
        top: 22.2%;
        left: 30.9%;
    }
    .tc3{
        width: 2.67%;
        position: absolute;
        top: 20.8%;
        left: 39.6%;
    }
    .tc4{
        width: 2.33%;
        height: 4.16%;
        position: absolute;
        top: 23.3%;
        left: 38.4%;
        z-index: 1;
    }
    .tc5{
        width: 2.33%;
        height: 4.16%;
        position: absolute;
        top: 24.2%;
        left: 39.5%;
        z-index: 2;
    }
    .tc6{
        width: 2.67%;
        position: absolute;
        top: 24.2%;
        left: 45.5%;
    }
    
    .td1{
        width: 2.5%;
        height: 4.16%;
        position: absolute;
        top: 23.6%;
        left: 38.7%;
        z-index: 1;
    }
    .td2{
        width: 2.5%;
        height: 4.16%;
        position: absolute;
        top: 24.6%;
        left: 43.6%;
    }
    .td3{
        width: 2.33%;
        height: 50px;
        position: absolute;
        top: 23%;
        left: 32.3%;
        z-index: 1;
    }

    .wa1{
        width: .8329%;
        position: absolute;
        top: 27.9%;
        left: 44.05%;
        z-index: 2;
        transform: scaleX(-1);
    }
    .wa2{
        width: .8329%;
        position: absolute;
        top: 26.2%;
        left: 33.2%;
        z-index: 2;
    }

    .wb1{
        width: .8329%;
        position: absolute;
        top: 27.6%;
        left: 44.4%;
        z-index: 1;
    }
    .wb2{
        width: .8329%;
        position: absolute;
        top: 25.9%;
        left: 33%;
        z-index: 1;
    }

.logoWhy{
    width: 120px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10.51%;
}    

// RWD 首頁 575.98px 版本==================================================================================================================

@media (max-width: 575.98px){
    // 首頁標題
    .index_title_out{
        width: 100%;
        height: 100vh;
        display: flex;
        display: flex;
        position: relative;
        z-index: 10;
        .index_title_top{
            width: 100%;
            height: 200px;
            margin: 300px auto;
            position: relative;       
        }
        .index_h1_before{
            font-size: 60px;
            position: absolute;
            top: 35%;
            left: 50%;
            margin-top: 0px;
            margin-left: -170px;
        }
        .index_img_title{
            display: block;
            width: 80px;
            height: 80px;
            position: absolute;
            top:0;
            bottom:0;        
            left:0;        
            right:0;       
            margin: auto;
       
        }
        .index_img_yb{
            width: 60px;
            position: absolute;
            top: 13%;
            left: 50%;
            margin-top: 0px;
            margin-left: 105px;
        }
        .index_h1_after{
            font-size: 60px;
            position: absolute;
            top: 35%;
            left: 50%;
            margin-top: 0px;
            margin-left: 50px;
        }
    }
    // 首頁字
    .index_word_1{
        color: black;

        img{
            width: 100%;
            display: block;
        }
        .index_word_bg{
            background-color: map-get($Mapcolor, 'white');
            width: 100%;
            height: 300px;
        }
        .index_h3_1{
            font-size: 22px;
            text-align: right;
            width: 100%;
            margin: 0 auto;
            padding: 30px 10px;
        }
        .index_h3_2{
            font-size: 22px;
            width: 100%;
            margin: 0 auto;
            padding: 30px 10px;
        }
    }
    .index_word_2{
        height: 600px;
        .index_h3_3{
            font-size: 22px;
            text-align: right;
            width: 100%;
            margin: 0 auto;
            padding: 30px 10px;
        }
        .index_h3_4{
            font-size: 22px;
            width: 100%;
            margin: 0 auto;
            padding: 30px 10px;
        }
    }
    .index_word_3{
        color: black;
        img{
            width: 100%;
            display: block;
        }
        .index_word_bg2{
            background-color: map-get($Mapcolor, 'white');
            width: 100%;
            height: 400px;
        }
        .index_h3_5{
            font-size: 22px;
            text-align: right;
            width: 100%;
            margin: 0 auto;
            padding: 30px 10px;
        }
    }

}
