.orderDetails_body{
    background-color: $blue;
    color:$white;
    .orderDetails_div_wrapper{
        width: 1100px;
        margin: 0 auto;
        .orderDetails_logo{
            max-width: 120px;
            display: block;
            margin: 50px auto 30px;
        }
        .orderDetails_ul_breadCrumbs{
            display: flex;
            font-size: 2rem;
            margin-bottom: 30px;
            color: $gray;
            li{
                margin: 5px;
                &:nth-child(odd){
                    cursor: pointer;
                }
                &:last-child{
                    color: $white;
                }
            }
        }
        .orderDetails_main{
            border: 5px solid $white;
            border-radius: 10px;
            box-sizing: border-box;
            padding: 20px 0;
            h3{
                font-size: 3.2rem;
                text-align: center;
                // font-weight: bold;
            }
            .orderDetails_div_information_top{
                display: flex;
                padding: 20px;
                margin-top: 40px;
                h4{margin-top: 5px;}
                p{margin: 10px 40px 0px 20px;}
            }
            ol{
                li{
                    display: flex;
                    color:$blue;
                    background-color: $white;
                    padding: 20px;
                    position: relative;
                    height: 300px;
                    img{
                        margin-top: 30px;
                        max-width: 200px;
                        position: relative;
                        z-index: 1;
                        }
                    section{
                        width: 100%;
                        margin-left: 80px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        position: relative;

                        :before{
                            content: '';
                            display: block;
                            width: 200px;
                            height: 200px;
                            position: absolute;
                            background-color: $yellow;
                            left: -220px;
                            top: 0;
                            border-radius: 50%;
                            z-index: 0;
                        }
                        h4{font-weight: bold;}
                        div{
                            display: flex;
                            justify-content: space-between;
                            font-weight: bold;
                            p{
                                margin-left: 50px;
                            }
                        }
                        .orderDetails_div_count{
                            margin-top: 10px;
                        }
                        .orderDetails_div_price{
                            p{
                                font-size: 3.2rem;
                            }
                        }
                    }
                    // 自訂義虛線
                    .oredrDetails_div_line{
                        position: absolute;
                        bottom: 5px;
                        width: 100%;
                        height: 5px;
                        background-image: linear-gradient(to right,$blue 0%,$blue 50%,transparent 50%);
                        background-size: 60px 5px;
                        background-repeat: repeat-x;
                    }
                }
            }
        }
        .orderDetails_div_information_bottom{
            width: 100%;
            font-size: 2.4rem;
            margin: 20px 40px;
            tr{
                td{
                    padding: 20px;
                }
                .orderDetails_address{
                    width: 40%;
                }
            }
        }
        button{
            // font-family: $fontFamily;
            margin: 100px auto;
            font-size: 2rem;
            line-height: 2rem;
            position: relative;
            .iconify{
                position: absolute;
                right: 15px;
                top: -68px;
                font-size: 7rem;
                color: $white;
                transform: scaleX(-100%);
            }
        }
    }
}
