.personal_div_wrapper{
    width: 1100px;
    margin: 0 auto;
    .personal_logo{
        max-width: 300px;
        margin-top: 100px;
        margin-bottom: 125px;
    }
    .personal_nav_top{
        ul{
            display: flex;
            justify-content: space-around;
            font-size: 2.4rem;
            margin-bottom: 100px;
            a{
                text-decoration: none;
                color: $yellow;
            }
            li{
                background: url('https://api.iconify.design/bx/cloud.svg?color=%23f2bf61&width=120&height=120') no-repeat center center / contain;
                width: 160px;
                height: 160px;
                p{
                    margin: 90px 40px 0;
                    font-size: 2rem;
                }
            }
            .li_nowpage{
                background: url('https://api.iconify.design/bxs/cloud.svg?color=%23f2bf61&width=120&height=120') no-repeat center center / contain;
                p{
                    color:$white;
                }
            }
        }
    }
    .personal_ul_breadCrumbs{
        display: flex;
        li{
            font-size: 2rem;
            color:$blue;
            margin: 0 5px;
        }
        :nth-child(odd){
            cursor: pointer;
        }

    }
}