.personal_body{

    @import '_personalMod.scss';
    // =====================main==============
  
    .personal_div_wrapper{
        .personalOrder_main{
            .personalOrder_nav_change{
                width: 80%;
                font-size: 2.4rem;
                margin: 0 auto;
                ul{
                    display: flex;
                    justify-content: space-around;
                    height: 160px;
                    line-height: 160px;
                    border-bottom: 5px solid $gray;
                    margin-bottom: 80px;
                    li{
                        cursor: pointer;
                        color: $gray;
                    }
                    .li_select{
                        color: $blue;
                    }
                }
            }
            section{
                max-width: 820px;
                border: 3px $blue solid;
                border-radius: 40px;
                margin: 0 auto 80px;
                padding: 30px 80px;
                ul{
                    display: flex;
                    justify-content: space-between;
                    li{
                        display: flex;
                    }
                }
                div{
                    width: 500px;
                    margin: 200px auto 30px;
                    ul{
                        position: relative;
                        li{
                            flex-direction: column;
                            text-align: center;
                            position: relative;
                            h5:before{
                                content: '';
                                display: block;
                                width: 30px;
                                height: 30px;
                                background-color: $yellow;
                                border-radius: 50%;
                                position: absolute;
                                top: -70px;
                                left:50%;
                                transform: translate(-50%);
                            }
                            .iconify{
                                position: absolute;
                                top: -113px;
                                left: -2px;
                            }
                        }
                        :nth-child(1){
                            .iconify{
                                left: 19px;
                            }
                        }
                        :nth-child(4){
                            .iconify{
                                left: 8px;
                            }
                        }
                    }
                    ul:before{
                        content: '';
                        display: block;
                        height: 5px;
                        background-color: $yellow;
                        position: absolute;
                        top: -57px;
                        left: 50px;
                    }
                    ul.porder1:before{width: 0%;}
                    ul.porder2:before{width: 28%;}
                    ul.porder3:before{width: 55%;}
                    ul.porder4:before{width: 84%;}
                    
                    ul:after{
                        content:'';
                        position: absolute;
                        top: -57px;
                        left: 40px;
                        width: 88%;
                        height: 5px;
                        background-image: linear-gradient(to right,$yellow 0%,$yellow 50%,transparent 50%);
                        background-size: 20px 5px;
                        background-repeat: repeat-x;
                    }
                }
                a{
                    margin: 0 auto;
                    font-size: 2rem;
                }
            }
        }
    }
}