.personal_body{

    @import '_personalMod.scss';
    // =====================main==============
  
    .personal_div_wrapper{
        .personal_main{
            border: 5px solid $blue;
            border-radius: 50px;
            text-align: center;
            padding: 130px;
            width: 800px;
            margin: 120px auto 90px;
            position: relative;
            ul{
                margin: 0 auto;
                width: 414px;
                :last-child{
                    h4{
                        margin: 0px;
                    }
                }
                li{
                    display: flex;
                    margin-bottom: 40px;
                    justify-content: space-between;
                    height: 50px;
                    line-height: 50px;
                    position: relative;
                    h4{
                        margin-right: 60px;
                    }
                    button{
                        // font-family: $fontFamily;
                        line-height: 2rem;
                    }
                    input{
                        border: 2px solid $blue;
                        border-radius: 10px;
                        width: 300px;
                        display: none;
                    }
                    textarea{
                        border: 2px solid $blue;
                        border-radius: 10px;
                        width: 300px;
                        height: 150px;
                        display: none;
                    }
                    .iconify{
                        font-size: 4rem;
                        position: absolute;
                        right: 20px;
                        top: -37px;
                        transform: scaleX(-100%);
                        color: $blue;
                        display: none;
                    }

                    &.revise{
                        p{
                            display: none;
                        }
                        input,textarea{
                            display: block;
                        }
                        .personal_show{
                            display: block;
                        }
                    }
                }
                .li_blur{
                    margin-top: 60px;
                    .iconify{
                        display: block;
                    }
                }
            }
            #orderCompleted_icon_birdFill{
                position: absolute;
                left: 0;
                top: -70px;
            }
            .personal_icon{
                max-width: 250px;
                position: absolute;
                right: -75px;
                top: -125px;
            }
        }
        .personal_div_doWhat{
            display: flex;
            justify-content: center;
            button{
                line-height: 45px;
                margin: 0 40px 100px;
                position: relative;
                cursor: pointer;
                .iconify{
                    position: absolute;
                    top: -45px;
                    left: 77px;
                }
            }
            &.revise{
                
            }
        }
    }
    .personal_div_popup{
        display: none;
        position: fixed;
        width: 100vw;
        
        color: $blue;
        top: 10vh;
        section{
            position: relative;
            width: 600px;
            background-color: $white;
            text-align: center;
            border: 5px solid $blue;
            border-radius: 50px;
            padding: 60px;
            margin: 0 auto;
        }
        h3{margin-bottom: 80px;}
        ul{
            width: 414px;
            margin: 0 auto;
        }
        li{
            display: flex;
            margin-bottom: 40px;
            justify-content: space-between;
            height: 50px;
            line-height: 50px;
            input{
                border: 2px solid $blue;
                border-radius: 10px;
                width: 300px;
            }
        }
        button{
            margin: 0 auto;
        }
        p{
            color:red;
            margin: -20px auto 20px;
        }
        i{
           font-size: 3rem;
           position: absolute;
           right: 30px;top: 30px;
           cursor: pointer;
        }
    }
    .personal_show{
        display: block;
    }
    .personal_hide{
        display: none;
    }
}
@media (max-width: 575.98px){
    .personal_body{
            
        div.personal_div_wrapper{
            width: 90vw;
            .personal_main{
                width: 90vw;
                padding: 20px;
                ul{
                    width: 80vw;
                    li{
                        input{
                            width: 50vw;
                        }
                        textarea{
                            width: 50vw;
                            height: 85px;
                        }
                    }
                }
                .personal_icon{
                    max-width: 100px;
                    display: none;
                   
                }
            }
        }

        div.personal_div_popup{
            section{
                
                width: 90vw;
                border: 5px solid $blue;
                padding: 30px;
                margin: 0 auto;
                ul{
                    width: 75vw;
                }
                input{
                    width: 40vw;
                }
            }
        }
    }
}