.role_body{
    font-family: $fontFamily;
}

// 背景
.role_bg_blue{
    width: 100%;
    background-color: map-get($Mapcolor, 'blue');
    // role最上面LOGO
    .role_header_top{
        padding: 70px;
        img{
            width: 120px;
            display: block;
            margin: 0 auto;
        }
    }
}
.role_bg_bottom{
    width: 100%;
    z-index: -99;
    position: absolute;
    display: block;

}

// 黃色問號
.role_out_top{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    .role_question_yellow{
        background-image: url(../images/xiaojiang/Q1.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100px;
        height: 100px;
        position: absolute;
        animation: Q 1s infinite both;
        &:hover{
            background-image: url(../images/xiaojiang/QH1.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: 150px;
            height: 150px;
            left: -5%;
            animation: Q none;
        }
    }
}

// 藍色問號
.role_out_bottom{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    .role_question_blue{
        background-image: url(../images/xiaojiang/Q2.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100px;
        height: 100px;
        position: absolute;
        right: 0;
        animation: Q 1s infinite both;
        &:hover{
            background-image: url(../images/xiaojiang/QH2.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: 150px;
            height: 150px;
            right: -5%;
            animation: Q none;
        }
    }
}
@keyframes Q {
    0% {
      transform: none;
    }
    15% {
      transform: translate3d(-15%,0,0) rotate3d(0,0,1,-5deg);
    }
    30% {
      transform: translate3d(10%,0,0) rotate3d(0,0,1,3deg);
    }
    45% {
      transform: translate3d(-15%,0,0) rotate3d(0,0,1,-3deg);
    }
    60% {
      transform: translate3d(10%,0,0) rotate3d(0,0,1,2deg);
    }
    75% {
      transform: translate3d(-5%,0,0) rotate3d(0,0,1,-1deg);
    }
    100% {
      transform: none;
    }
  }

// role選擇鳥類
.role_section_top{
    width: 900px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: map-get($Mapcolor, 'white');
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,.25);

    div{
        width: 200px;
        height: 200px;       
        img{
            display: block;
            width: 130px;
            margin:30px 30px;
            cursor: pointer;
        }
    // 黃色格子    
    }
    .bird1,.bird3,.bird6,.bird8{
        background-color: map-get($Mapcolor, 'yellow');
        margin-left: 20px;
        margin-top: 20px;
    }
    // 藍色格子
    .bird2,.bird4,.bird5,.bird7{
        background-color: map-get($Mapcolor, 'blue');
        margin-left: 20px;
        margin-top: 20px;
    }
}

// role下面虛線部分
.role_section_bottom{
    border:  dashed 7px map-get($Mapcolor, 'yellow');
    border-radius: 50px;
    width: 900px;
    height: 600px;
    margin: 100px auto;
    position: relative;
    // 燈光
    .role_light{
        width: 80px;
        display: block;
        position: absolute;
        left:600px;
    }
    .role_light_center{
        width: 330px;
        display: block;
        position: absolute;
        left: 465px;
        top: 50px;
        z-index: -10;

    }
}
.role_show_out{
    position: relative;
    // 打扮區
    .role_show_area{
        position: absolute;
        width: 280px;
        height: 280px;
        left: 480px;
        top: 200px;
        
        // 鳥類
        .role_show_bird img{
            position: absolute;
            display: block;
            width: 220px;
            top: 15%;
        }
        // 眼鏡
        .role_show_glasses img{
            position: absolute;
            display: block;
            top: 40%;
            left: 45%;
        }
        // 帽子
        .role_show_hat img{
            position: absolute;
            display: block;
            width: 120px;
            top: 15%;
            left: 30%;

        }
        // 飾品
        .role_show_other img{
            position: absolute;
            display: block;
            top: 55%;
            left: 50%;
        }
    }

}

// role飾品區
.role_section_accessory{
    display: flex;
    button{
        padding: 0;
        border: none;
        outline: none;
        background-color: transparent;
        margin: 0 auto;
        display: block;
        cursor: pointer; 
    }
    // 眼鏡
    .role_glasses{
        width: 100px;
        height: 400px;
        margin: 100px 50px;
        box-sizing: border-box;
    }
    .role_accessory_glasses{
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        height: 280px;
        width: 70px;
        margin: 30px auto;
        ul{
            position: absolute;
            transition: all .7s;
            margin: 0 auto;
        }
        li{ 
            list-style: none;
            background-color: map-get($Mapcolor, 'yellow');
            width: 70px;
            height: 70px;
            border-radius: 50%;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin: 20px auto;
        }   
        img{
            width: 70px;
        }    
    }
    // 帽子
    .role_hat{
        width: 100px;
        height: 500px;
        margin: 50px 0;
        box-sizing: border-box;
    }
    .role_accessory_hat{
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        height: 370px;
        width: 70px;
        margin: 30px auto;
        ul{
            position: absolute;
            transition: all .7s;
            margin: 0 auto;
        }
        li{ 
            list-style: none;
            background-color: map-get($Mapcolor, 'blue');
            width: 70px;
            height: 70px;
            border-radius: 50%;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin: 20px auto;
        }   
        img{
            width: 70px;
        }    
    }

    // 飾品
    .role_other{
        width: 100px;
        height: 400px;
        margin: 100px 50px;
        box-sizing: border-box;
    }
    .role_accessory_other{
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        height: 280px;
        width: 70px;
        margin: 30px auto;
        ul{
            position: absolute;
            transition: all .7s;
            margin: 0 auto;
        }
        li{ 
            list-style: none;
            background-color: map-get($Mapcolor, 'yellow');
            width: 70px;
            height: 70px;
            border-radius: 50%;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin: 20px auto;
        }   
        img{
            width: 70px;
        }    
    }
}



// role最下面按鈕
.role_button_bottom{
    display: flex;
    margin: 0 auto;
    width: 400px;
    justify-content: space-between;
}

// role---------------media query--------------------
@media (max-width: 575.98px){
    // 背景
    .role_bg_blue{
        .role_header_top{
            padding: 20px;
        }
    }
    // 黃色問號
    .role_out_top{
        padding: 100px 0;
        width: 100%;
        .role_question_yellow{
            position: static;
            margin: 10px;
            &:hover{
                width: 100px;
                height: 100px;
            }
        }
    }
    // 藍色問號
    .role_out_bottom{
        width: 100%;
        .role_question_blue{
            float: right;
            position: static;
            margin: 10px;
            &:hover{
                width: 100px;
                height: 100px;
            }
        }
    }
    // 選擇鳥類區
    .role_section_top{
        width:100vw;
        height: auto;
        div{
            width: 150px;
            height: 150px;
            img{
                width: 100px;
                margin: 20px;
                
            }
        }
        .bird1,.bird3,.bird6,.bird8{
            margin: 15px auto;
        }
        .bird2,.bird4,.bird5,.bird7{
            margin: 15px auto;
        }

    }
    // 下面虛線部分
    .role_section_bottom{
        clear: both;
        width: 100vw;
        height: auto;
        margin: 0 0 50px;
        position: relative;
        // 燈光
        .role_light{
            position: static;
            margin: 0 auto;
        }
        .role_light_center{
            position: static;
            margin: 0 auto;
        }
    }
    // 飾品區
    .role_section_accessory{
        display: flex;
        margin: 0 auto;
        // 眼鏡
        .role_glasses{
            margin: 100px 30px;
        }
        // 帽子
        .role_hat{
            margin: 50px auto;
        }
        // 飾品
        .role_other{
            margin: 100px 30px;
        }
   
    }
    .role_show_out{
        position: absolute;
        top: 0;
        left: 0;
        // 打扮區
        .role_show_area{
            top: 250px;
            left: 50px;
        }
        // 放大縮小
        .role_button_cloud{
            top: 500px;
            left: 80px;
        }
    }

    //最下面按鈕
    .role_button_bottom{
       width: 300px;
    }
}

// role---------------media query--------------------