.role_body{
    font-family: $fontFamily;
}

// 背景
.role_bg_blue{
    width: 100%;
    background-color: map-get($Mapcolor, 'blue');
    // role最上面LOGO
    .role_header_top{
        padding: 70px;
        img{
            width: 120px;
            display: block;
            margin: 0 auto;
        }
    }
}
.role_bg_bottom{
    width: 100%;
    z-index: -99;
    position: absolute;

}


// role選擇鳥類
.role_section_top{
    width: 900px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: map-get($Mapcolor, 'white');
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,.25);

    div{
        width: 200px;
        height: 200px;       
        img{
            display: block;
            width: 130px;
            margin:30px 30px;
            cursor: pointer;
        }
    // 黃色格子    
    }
    .bird1,.bird3,.bird6,.bird8{
        background-color: #F2BF61;
        margin-left: 20px;
        margin-top: 20px;
    }
    // 藍色格子
    .bird2,.bird4,.bird5,.bird7{
        background-color: #2F4858;
        margin-left: 20px;
        margin-top: 20px;
    }
}

// role下面展示區
.role_section_bottom{
    border:  dashed 7px #F2BF61;
    border-radius: 50px;
    width: 900px;
    height: 600px;
    margin: 100px auto;
    position: relative;
    // 燈光
    .role_light{
        position: absolute;
        left:535px;
    }
    .role_light_center{
        position: absolute;
        left: 400px;
        top: 20px;
        z-index: -10;
    }

    // 展示區
    .role_show_area{
        position: absolute;
        width: 280px;
        height: 300px;
        left: 420px;
        top: 160px;
        border: red 1px solid;
        .role_show_bird img{
            position: absolute;
            display: block;
            width: 220px;
            top: 25%;
        }
        // 眼鏡
        .role_show_glasses img{
            position: absolute;
            display: block;
            top: 40%;
            left: 45%;
        }
        // 帽子
        .role_show_hat img{
            position: absolute;
            display: block;
            width: 120px;
            top: 15%;
            left: 30%;
        }
        // 飾品
        .role_show_other img{
            position: absolute;
            display: block;
            top: 55%;
            left: 50%;
        }
    }
    //顏色
    .role_section_colors{
        width: 100px;
        position: absolute;
        right: 50px;
        top: 100px;
        li{
            width: 70px;
            margin: 20px auto;
        }      
    button{
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        background-color: transparent;
        margin: 0 auto;
        display: block;
        cursor: pointer;
    }
}


    // 放大縮小
    .role_button_cloud{
        display: flex;
        position: absolute;
        left: 470px;
        top: 480px;
        
        .role_minus img{
            margin: 15px;
            width: 70px;
            cursor: pointer;
        }
        .role_plus img{
            margin: 15px;
            width: 70px;
            cursor: pointer;
        }
    }
}

// role飾品區
.role_section_accessory{
    display: flex;
    button{
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        background-color: transparent;
        margin: 0 auto;
        display: block;
        cursor: pointer;
    }
    // 黃色
    .accessory{
        // border: 1px solid red;
        width: 100px;
        margin-top: 100px;
        margin-left: 30px;
        li{ 
            background-color: #F2BF61;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin: 20px auto;
        }   
        .role_glasses img,.role_other img{
            width: 70px;
        }    
    }
    // 藍色
    .accessory2{
        // border: 1px solid red;
        width: 100px;
        margin-top: 50px;
        margin-left: 30px;
        li{ 
            background-color: #2F4858;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin: 20px auto;
        } 
        .role_hat img{
            width: 70px;
        }          
    }
}



// role最下面按鈕
.role_button_bottom{
    font-size: 20px;
    display: flex;
    margin: 0 auto;
    width: 400px;
    justify-content: space-between;

}
