.bgcBlue{
    background-color: map-get($Mapcolor, 'blue');
}

.bgcYellow{
    background-color: map-get($Mapcolor, 'yellow');
}

.bgcPink{
    background-color: map-get($Mapcolor, 'pink');
}

.bgcWhite{
    background-color: map-get($Mapcolor, 'white');

}

.textWhite{
    color: map-get($Mapcolor, 'white');
}

.textBlue{
    color: map-get($Mapcolor, 'blue');
}
// ==========================================================

#store_body{
    // border: 2px solid aquamarine;
    // max-width: 1440px;
    // height: 3654px;
    // background-color: map-get($Mapcolor,'blue');
    margin: 0 auto;

    .store_header{
        // border: 2px solid pink;
        margin: 0 auto;

        #store_div_sliderBoard{
            margin: 0 auto;
            width: 100%;
            position: relative;
            box-sizing: content-box;
            
            #store_ul_sliderImg{
                overflow: hidden;
                // border: 2px solid white;
                max-width: 1440px;
                height: 610px;
                margin: 0 auto;
                
                .store_li_slider{
                    float: left;
                    // border: 2px solid red;
                    width: 100%;
    
                    .store_img_slider{
                        width: 100%;
                        height: 726px;
                    }
                }
            };

            #store_div_titleSection{
                border: 5px solid map-get($Mapcolor, 'white');
                width: 500px;
                height: 580px;
                position: absolute;
                top: 273px;
                left: 50%;
                transform: translateX(-50%);
                box-sizing: border-box;
                
                .store_img_logo{
                    width: 120px;
                    position: absolute;
                    top: 125px;
                    left: 50%;
                    transform: translateX(-50%);
                };

                .store_h1_title{
                    font-weight: bold;
                    color: map-get($Mapcolor, 'white');
                    position: absolute;
                    top: 380px;
                    left: 50%;
                    transform: translateX(-50%);
                };

                .store_h3_subtitle{
                    color: map-get($Mapcolor, 'white');
                    width: 419px;
                    position: absolute;
                    top: 500px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }        
    }
};

#store_section_breadCrumb{
    // border: 1px solid red;
    width: 1200px;
    margin: 0 auto;
    padding-top: 35px;

    a{
        color: map-get($Mapcolor, 'white');
        text-decoration: none;
        font-size: 2rem;
    }

    p{
        display: inline-block;
    }

    h5{
        color: map-get($Mapcolor, 'white');
        display: inline-block;
    }
};

#store_section_filterBtn{
    // border: 1px solid orangered;
    width: 1200px;
    margin: 0 auto;
    padding: 0 180px;
    padding-top: 250px;
    display: flex;
    flex-direction: row;
    position: relative;
    
    #store_filter_all{
        width: 120px;
        height: 120px;
        background: url('https://api.iconify.design/bx/cloud.svg?color=%23f2bf61&width=120&height=120') no-repeat center center / contain;
        border: none;
        margin: 0 auto;
        cursor: pointer;
        &:hover{
            background: url('https://api.iconify.design/bxs/cloud.svg?color=%23f2bf61&width=120&height=120') no-repeat center center / contain;
        }

        #store_icon_birdBold{
            display: none;
            position: absolute;
            top: 65%;
            left: 17%;
        };

        h4{
            text-align: center;
            line-height: 5.5;
            color: map-get($Mapcolor,'yellow');
            font-weight: bold;

            &:hover{
                color: map-get($Mapcolor,'white');
                }
        };
    };
    .store_btn_filter{
        width: 120px;
        height: 120px;
        background: url('https://api.iconify.design/bx/cloud.svg?color=%23f2bf61&width=120&height=120') no-repeat center center / contain;
        border: none;
        margin: 0 auto;
        cursor: pointer;

        &:hover{
            background: url('https://api.iconify.design/bxs/cloud.svg?color=%23f2bf61&width=120&height=120') no-repeat center center / contain;
        }

        h4{
            text-align: center;
            line-height: 5.5;
            color: map-get($Mapcolor,'yellow');
            font-weight: bold;

            &:hover{
            color: map-get($Mapcolor,'white');
            }
        };

        #store_icon_birdT1{
            display: none;
            position: absolute;
            top: 65%;
            left: 34.5%;
        };

        #store_icon_birdT2{
            display: none;
            position: absolute;
            top: 65%;
            left: 52%;
        };

        #store_icon_birdT3{
            display: none;
            position: absolute;
            top: 65%;
            left: 69.5%;
        }
    };
};



.store_main_product{
    // border: 1px solid yellow;
    width: 930px;
    height: 1000px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    gap: 14.25px;
    padding: 0 14.25px;
    padding-top: 2%;
    overflow: hidden;
    
    
    .productWrapper{
        // border: 1px solid purple;
        box-sizing: border-box;
        width: 289.13px;
        height: 450px;
        position: relative;
        margin-bottom: 3%;

        .productFrame{
            border: 5px solid map-get($Mapcolor, 'white');
            width: 278.67px;
            height: 371.13px;
            border-radius: 50px;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        };

        .productCircle{
            width: 182px;
            height: 182px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 0;
        };

        .productPic{
            position: absolute;
            width: 180px;
            top: 13%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 3;
        };

        .producNm{
            font-size: 1.6rem;
            // width: 166px;
            display: block;
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translateX(-50%);
        };

        .productPc{
            font-size: 1.6rem;
            // width: 166px;
            display: block;
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translateX(-50%);
        }

        .productColor{
            // display: none;
            list-style-type: none;
            width: 133px;
            position: absolute;
            top: 76%;
            left: 50%;
            transform: translateX(-50%);

            .productColorLi{
                width: 22px;
                height: 22px;
                border-radius: 50%;
                border: 1px solid map-get($Mapcolor, 'white');
                display: inline-block;
                margin-left: 8%;
                margin-right: 7%;
                cursor: pointer;
                z-index: 4;
            };
        };

        .productBtn{
            // border: 1px solid red;
            display: flex;
            flex-direction: row;
            position: absolute;
            top: 83%;
            left: 50%;
            transform: translateX(-52%)
        };
    };
};
.store_section_moreBtn{
    // border: 1px solid white;
    width: 1200px;
    margin: 0 auto;
    padding-top: 96px;
    position: relative;

    #birdBold{
        position: absolute;
        bottom: 29%;
        right: 40%;
    };

    .store_moreBtn{
        margin: 0 auto;
    };
};

// ----------------media query-------------------------

@media (max-width: 575.98px){
    #store_body{
        width: 100vw;

        .main-header{
            right: 30px;
        }

        .store_header{
            width: 100%;

            #store_div_sliderBoard{
                margin: 0 auto;
                width: 100%;
                position: relative;
                box-sizing: content-box;
                
                #store_ul_sliderImg{
                    overflow: hidden;
                    // border: 2px solid white;
                    max-width: 100%;
                    height: 255px;
                    margin: 0 auto;
                    
                    .store_li_slider{
                        float: left;
                        // border: 2px solid red;
                        width: 100%;
        
                        .store_img_slider{
                            width: 100%;
                            height: 255px;
                        }
                    }
                };
    
                #store_div_titleSection{
                    border: 2px solid map-get($Mapcolor, 'white');
                    width: 200px;
                    height: 230px;
                    top: 140px;
                    
                    .store_img_logo{
                        width: 50px;
                        top: 35px;
                    };
    
                    .store_h1_title{
                        font-size: 2.4rem;
                        top: 130px;
                    };
    
                    .store_h3_subtitle{
                        font-size: 1.2rem;
                        width: 155px;
                        top: 180px;
                    }
                }
            }       
        }

        #store_section_breadCrumb{
            display: none;
        }

    }
    
    #store_section_filterBtn{
        width: 100vw;
        padding: 0;
        padding-top: 120px;
    
        #store_filter_all{

            #store_icon_birdBold{
                width: 30px;
                height: 30px;
                top: 60%;
                left: 1%;
            }
    
            h4{
                font-size: 1.2rem;
            }
        }
        .store_btn_filter{
            
            h4{
                font-size: 1.2rem;
            }
    
            #store_icon_birdT1{
                width: 30px;
                height: 30px;
                top: 60%;
                left: 26%;
            }
    
            #store_icon_birdT2{
                width: 30px;
                height: 30px;
                top: 60%;
                left: 51%;
            }
    
            #store_icon_birdT3{
                width: 30px;
                height: 30px;
                top: 60%;
                left: 76%;
            }
        }
    }
    
    .store_main_product{
        // border: 1px solid yellow;
        max-width: 100%;
        height: 416px;
        gap: 10px;
        
        .productWrapper{
            // border: 1px solid purple;
            box-sizing: border-box;
            width: 165px;
            height: 400px;
            margin-bottom: 3%;
    
            .productFrame{
                border: 5px solid map-get($Mapcolor, 'white');
                width: 165px;
                height: 375px;
                border-radius: 10px;
            };
    
            .productCircle{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                left: 50%;
                transform: translateX(-50%);
            };
    
            .productPic{
                position: absolute;
                width: 108px;
            };
    
            .producNm{
                font-size: 1.2rem;
                // width: 166px;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
            };

            .productPc{
                font-size: 1.2rem;
                // width: 166px;
                display: block;
                position: absolute;
                top: 55%;
                left: 50%;
                transform: translateX(-50%);
            }    
    
            .productColor{
                width: 95px;
                top: 60%;
                left: 50%;
                transform: translateX(-50%);
                
                .productColorLi{
                    width: 15px;
                    height: 15px;
                };
            };
    
            .productBtn{
                // border: 1px solid red;
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 68%;
                left: 50%;
                transform: translateX(-50%)
            };
        };
    }

    .store_section_moreBtn{
        // border: 1px solid white;
        width: 100vw;
        margin: 0 auto;
        padding-top: 70px;
        position: relative;
        margin-bottom: 5%;
    
        #birdBold{
            position: absolute;
            bottom: 35%;
            right: 18%;
        };
    
        .store_moreBtn{
            margin: 0 auto;
        };
    }
}
