<div class="backend_main_top">
    <h1>貼文管理</h1>
    
    <i class="fa-regular fa-bell click"></i>
    <h2 class="click">登出</h3>
</div>
<ul class="backend_ul_page">
    <li class="back_btnL">貼文管理</li>
    <li class="back_btnL">會員詢問</li>
    <li class="back_btnL">官方公告</li>
    <li class="back_btnL">智慧客服</li>
</ul>
<ul class="backend_ul_sort">
    <li>全部↓</li>
    <li>最新↓</li>
    <li>回覆狀態↓</li>
</ul>
<table>
    <tr>
        <td>來函編號</td>
        <td>標題</td>
        <td>來函帳號</td>
        <td>來函時間</td>
        <td>回覆狀態</td>
        <td>詳細</td>
    </tr>
</table>