<div class="backend_div_popup">
    <section>
        <i class="fa-solid fa-x"></i>
        <ul>
            <li><h2>會員</h2><h3>account018</h3></li>
            <li><h2>來函時間</h2><h3>2022-01-23 12:34:56</h3></li>
            <li><h2>標題</h2><h3>可以睡覺了嗎</h3></li>
            <h2>來函內容</h2>
        </ul>
        <div class="backend_div_content">
            <p>好想睡覺,好想補課,我要去跑步了!</p>
            <img class="backend_img_bird" src="./images/emojione-v1_bird.jpg">
        </div>
        <h2>回覆</h2>
        <textarea cols="30" rows="10"></textarea>
        <input type="submit" value="回覆" class="backend_btn_dosomething_blue">
        <button class="back_btnM">關閉</button>
    </section>
</div>