<div class="backend_div_popup">
    <section>
        <i class="fa-solid fa-x"></i>
        <ul>
            <li><h2>發文人</h2><h3>account018</h3></li>
            <h2>被檢舉內容</h2>
        </ul>
        <div class="backend_div_content">
            <p>我要去跑步了!</p>
            <img class="backend_img_bird" src="./images/emojione-v1_bird.jpg">
        </div>
        <ul>
            <li><h2>檢舉人</h2><h3>account_18</h3></li>
            <li><h2>檢舉原因</h2></li>
        </ul>
        <div class="backend_div_content">
            <p>好想睡覺</p>
        </div>
        <div class="backend_pass">
            <input type="radio" name="pass">通過
            <input type="radio" name="pass">駁回
        </div>
        <button class="back_btnM">關閉</button>
    </section>
</div>