<header class="backend_header">
    <div class="click">
        <a href="./index.html">
            <img src="./images/LogoProto_WW 3.png" alt="">
            <p>鳥語鳥嶼</p>
        </a>
    </div>
    <nav>
        <ul>
            <li class="backend_li_left click">
                <i class="fa-solid fa-comment"></i>
                <h3>貼文管理</h3>
                <span class="iconify" data-icon="fa-solid:kiwi-bird"></span>
            </li>
            <li class="backend_li_left click">
                <i class="fa-solid fa-comment-slash"></i>
                <h3>檢舉審核</h3>
                <span class="iconify" data-icon="fa-solid:kiwi-bird"></span>
            </li>
            <li class="backend_li_left click">
                <i class="fa-solid fa-bag-shopping"></i>
                <h3>商品管理</h3>
                <span class="iconify" data-icon="fa-solid:kiwi-bird"></span>
            </li>
            <li class="backend_li_left click">
                <i class="fa-solid fa-barcode"></i>
                <h3>訂單管理</h3>
                <span class="iconify" data-icon="fa-solid:kiwi-bird"></span>
            </li>
            <li class="backend_li_left click">
                <i class="fa-solid fa-children"></i>
                <h3>揪團管理</h3>
                <span class="iconify" data-icon="fa-solid:kiwi-bird"></span>
            </li>
            <li class="backend_li_left click">
                <i class="fa-solid fa-clipboard-user"></i>
                <h3>會員管理</h3>
                <span class="iconify" data-icon="fa-solid:kiwi-bird"></span>
            </li>
            <li class="backend_li_left click">
                <i class="fa-solid fa-image"></i>
                <h3>景點管理</h3>
                <span class="iconify" data-icon="fa-solid:kiwi-bird"></span>
            </li>
        </ul>
    </nav>
</header>