<div class="backend_main_top">
    <h1>揪團管理</h1>
    
    <i class ="fa-regular fa-bell click"></i>
    <h2 class="click">登出</h3>
</div>
<ul class="backend_ul_page">
    <li class="back_btnL">揪團清單</li>
    <li class="back_btnL">官方活動</li>
    <li class="back_btnL">歷史紀錄</li>
</ul>
<ul class="backend_ul_sort">
    <li>全部↓</li>
    <li>發起人↓</li>
    <li>景點↓</li>
    <div class="backend_ul_right">
        <input class='backend_input_search'type="text" placeholder="search">
        <button class="backend_btn_add back_btnS">新增</button>
    </div>
</ul>
<table>
    <tr>
        <td>揪團編號</td>
        <td>發起人</td>
        <td>發起日齊</td>
        <td>截止日期</td>
        <td>景點</td>
        <td>參與人數</td>
        <td>揪團狀態</td>
        <td>詳細</td>
    </tr>
</table> 