
<a href="./index.html">
    <img src="./images/logo/logo_white_final.svg" class="personal_logo">
</a>
<nav class="personal_nav_top">
    <ul>
        <li><a href="./personalMain.html"><p>個人資料</p></a></li>
        <li><a href="./personalEvent.html"><p>活動紀錄</p></a></li>
        <li><a href="./personalOrder.html"><p>訂單查詢</p></a></li>
        <li><a href="./personalNotice.html"><P>訊息通知</p></a></li>
        <li><a href="./role.html"><p>角色修改</p></a></li>
    </ul>
</nav>
<ul class="personal_ul_breadCrumbs">
    <li>首頁</li>
    <li>></li>
    <li>會員中心</li>
    <li>></li>
    <li>個人頁面</li>
</ul>