@import 'base/var';
@import 'base/reset';
@import 'base/fontSet';
@import 'mixin/mixin';
@import 'component/btn';
@import 'page/createEvent';
@import 'page/store';
@import 'page/orderCompleted';
@import 'page/createEventConfirm';
@import 'page/createEventDetail';
@import 'page/faq';
@import 'page/contactUs';
@import 'page/backend_mod';
@import 'page/backend_left';//backend
@import 'page/backend_pop';
@import 'page/index'; // jiang
@import 'page/role'; // jiang
@import 'page/about'; // jiang
@import 'page/activity'; // jiang
@import 'page/attraction';
@import 'page/login'; //yelian
@import 'page/landingPage';
@import 'page/createEventRecord';


*{
    box-sizing: border-box;
}
html{
    font-size: map-get($fontSize,'type-4');
    // background-color: #333;
    font-family: $fontFamily;
}