
.messageboard{
    width: 65%;
    margin: 0 auto 5%;
    form{
        margin-bottom: 5%;
        display: flex;
        align-items: center;

        input{
            border: none;
            font-size: 2rem;
            outline: none;
            padding: 10px;
            color: map-get($Mapcolor, 'blue');
            width: 80%;
            height: 60px;
            border-radius: 10px;
            margin-right: 4%;
        }

        .-on{
            box-shadow: 0 0 10px gray;
            transform: scale(1.02);
            transform-origin: center center;
        }

        button{
            cursor: pointer;
        }
    }
    
    ul{
        border: 1px solid rgb(130, 174, 240);
        background-color: map-get($Mapcolor, 'white');
        color: map-get($Mapcolor, 'blue');
        border-radius: 10px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-height: 300px;
        overflow: hidden;
        
        li{
            // border: 1px solid #000;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5%;
            a{
                width: 70px;
                height: 70px;
                border-radius: 50%;
                border: 5px solid map-get($Mapcolor, 'yellow');
                position: relative;

                .avatar{
                    // width: 110%;
                    width: 54px;
                    position: absolute;
                    top: -2%;
                    // left: -23%;
                    left: -1%;
                }
            }
            h4{
                flex-grow: 4;
            }
            .iconify{
                color: map-get($Mapcolor, 'blue');
                font-size: 24px;
                &:hover{
                    color: map-get($Mapcolor, 'yellow');
                    cursor: pointer;
                }
            }
        }
    }
    .moreMessage{
        display: block;
        margin-top: 25px;
        color: map-get($Mapcolor, 'white');
        font-size: 2rem;
        text-align: center;

        &:hover{
            color: map-get($Mapcolor, 'yellow');           
        }
    }
}

div.messageboardoverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, .5);
    z-index: 999;
    display: none;
    .messageboard{
        margin-top: 3%;
        ul{
            height: auto;
            overflow-y: auto;
            margin: 5% auto;
            overflow-y: auto;
            padding-right: 35px;
    
            //捲軸主體
            &::-webkit-scrollbar {
                width: 20px;
                margin-right: 50px;
            }
            //捲軸底色
            &::-webkit-scrollbar-track {
                border: 2px solid rgba(47, 72, 88, 0.3);
                border-radius: 40px;
                background: #FFFFFF;
            }
            //捲軸本體顏色
            &::-webkit-scrollbar-thumb {
                background-color: #2F4858;
                border-radius: 40px;
            }
        }
        .moreMessage{
            display: none;
        }
    }
}


// ----------------media query-------------------------

@media (max-width: 575.98px){
    .messageboard{
        width: 90%;
        margin: 0 auto 5%;
        form{
            margin-bottom: 5%;
            display: flex;
            align-items: center;
    
            input{
                border: none;
                font-size: 2rem;
                outline: none;
                padding: 10px;
                color: map-get($Mapcolor, 'blue');
                width: 80%;
                height: 60px;
                border-radius: 10px;
                margin-right: 4%;
            }
    
            a{
                font-size: 2.4rem;
                display: inline-block;
            }
        }
        
        ul{
            border: 1px solid rgb(130, 174, 240);
            background-color: map-get($Mapcolor, 'white');
            color: map-get($Mapcolor, 'blue');
            border-radius: 10px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            li{
                // border: 1px solid #000;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 5%;
                a{
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    border: 5px solid map-get($Mapcolor, 'yellow');
                }
                h4{
                    flex-grow: 4;
                }
                .iconify{
                    color: map-get($Mapcolor, 'blue');
                    font-size: 24px;
                    &:hover{
                        color: map-get($Mapcolor, 'yellow');
                        cursor: pointer;
                    }
                }
            }
        }
        .moreMessage{
            display: block;
            margin-top: 25px;
            color: map-get($Mapcolor, 'white');
            font-size: 2rem;
            text-align: center;
    
            &:hover{
                color: map-get($Mapcolor, 'yellow');           
            }
        }
    }
}
