.borderWhite{
    border-color: map-get($Mapcolor, 'white');
}

.productWrapper{
    // border: 1px solid purple;
    box-sizing: border-box;
    width: 289.13px;
    height: 450px;
    position: relative;
    margin-bottom: 3%;

    .productFrame{
        border: 5px solid map-get($Mapcolor, 'white');
        width: 278.67px;
        height: 371.13px;
        border-radius: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        // z-index: -1;
    };

    .productCircle{
        width: 182px;
        height: 182px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
    };

    .productPic{
        position: absolute;
        width: 180px;
        top: 13%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
    };

    .producNm{
        font-size: 1.6rem;
        // width: 166px;
        display: block;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translateX(-50%);
    };

    .productPc{
        font-size: 1.6rem;
        // width: 166px;
        display: block;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
    }

    .productColor{
        // display: none;
        list-style-type: none;
        width: 133px;
        position: absolute;
        top: 76%;
        left: 50%;
        transform: translateX(-50%);

        .productColorLi{
            width: 22px;
            height: 22px;
            border-radius: 50%;
            border: 1px solid map-get($Mapcolor, 'white');
            display: inline-block;
            margin-left: 8%;
            margin-right: 7%;
            cursor: pointer;
            z-index: 4;
        };
    };

    .productBtn{
        // border: 1px solid red;
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 83%;
        left: 50%;
        transform: translateX(-52%)
    };
};

// ----------------media query-------------------------

@media (max-width: 575.98px){
    .productWrapper{
        // float: left;
        // border: 1px solid purple;
        box-sizing: border-box;
        width: 165px;
        height: 400px;
        margin-bottom: 3%;

        .productFrame{
            border: 5px solid map-get($Mapcolor, 'white');
            width: 165px;
            height: 375px;
            border-radius: 10px;
        };

        .productCircle{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            left: 50%;
            transform: translateX(-50%);
        };

        .productPic{
            position: absolute;
            width: 108px;
        };

        .producNm{
            font-size: 1.2rem;
            // width: 166px;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
        };

        .productPc{
            font-size: 1.2rem;
            top: 55%;
        }    

        .productColor{
            width: 95px;
            top: 60%;
            left: 50%;
            transform: translateX(-50%);

            .productColorLi{
                width: 15px;
                height: 15px;
            };
        };

        .productBtn{
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 68%;
            left: 50%;
            transform: translateX(-50%)
        };
    };
}