.shoppingCart_li_list{
    width: 970px;
    margin: 0 auto;
    margin-top: 5%;

    .pics{
        // border: 1px solid yellow;
        width: 269px;
        position: relative;

        .circle{
            width: 185px;
            height: 185px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 0;
        }
        
        img{
            width: 200px;
            position: absolute;
            bottom: -220px;
            left: 0;
        }
    }

    .detail{
        // border: 1px solid green;
        flex-grow: 2;

        #name{
            font-weight: bold;
            display: block;
            width: 100%;
            text-align: center;
            font-size: 3.2rem;
            padding: 30px 0;
        }

        h4{
            // border: 1px solid rgb(128, 0, 34);
            text-align: center;
        }

        #price{
            // border: 1px solid orangered;
            width: 100%;
            font-size: 3.2rem;
            padding: 30px 0;
            text-align: center;
        }
    }

    #shoppingCart_icon_trash{
        border: none;
        height: 42px;
        position: relative;
        bottom: 45px;
        left: 95%;
        cursor: pointer;
    }
    
    .dashLine{
        height: 5px;
        display: block;
        margin: 0 auto;
        display: block;
    }
}

// ----------------media query-------------------------

@media (max-width: 575.98px){
    .shoppingCart_li_list{
        width: 100%;
        margin-top: 5%;
    
        .pics{
            // border: 1px solid yellow;
            width: 150px;
            position: relative;
            left: 2%;
    
            .circle{
                width: 100px;
                height: 100px;
            }
            
            img{
                width: 150px;
                position: absolute;
                bottom: -150px;
                left: 0;
            }
        }
    
        .detail{
            // border: 1px solid green;
    
            #name{
                width: 130px;
                // border: 1px solid purple;
                font-size: 2.4rem;
                margin-left: 45%;
            }
    
            h4{
                // border: 1px solid rgb(128, 0, 34);
                width: 130px;
                font-size: 1.2em;
                margin-left: 45%;
            }
    
            #price{
                // border: 1px solid orangered;
                width: 130px;
                font-size: 1.6rem;
                margin-left: 45%;
            }
        }
        #shoppingCart_icon_trash{
            border: none;
            height: 42px;
            position: relative;
            bottom: 100px;
            left: 80%;
            cursor: pointer;
        }
        
        .dashLine{
            height: 2px;
            width: 90%;
            // margin-top: 5%;
        }
    }
    
}
