.shoppingCart_li_list{
    width: 970px;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    margin-top: 5%;

    .pics{
        // border: 1px solid yellow;
        width: 269px;
        position: relative;

        .circle{
            width: 185px;
            height: 185px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 0;
        }
        
        img{
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    .detail{
        // border: 1px solid green;
        flex-grow: 2;

        #name{
            display: block;
            width: 100%;
            text-align: center;
            font-size: 3.2rem;
            padding: 30px 0;
        }

        h4{
            // border: 1px solid rgb(128, 0, 34);
            text-align: center;
            // display: block;
        }

        #price{
            // border: 1px solid orangered;
            width: 100%;
            font-size: 3.2rem;
            padding: 30px 0;
            text-align: center;
        }
    }
    #shoppingCart_icon_trash{
        border: none;
        height: 42px;
        position: relative;
        bottom: -145px;
        cursor: pointer;
    }
}

.dashLine{
    height: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
}
