<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>單一景點-活動總頁</title>
    @@include('./layout/head.html')
</head>
<body class="activity_body">
    @@include('./layout/header.html')
    <!-- 上面banner -->
    <header class="activity_banner">
        <section class="activity_banner_inner">
            <a href="./index.html"><img src="./images/logo/logo_white_final.svg" alt=""></a>
            <h1>共語共遊</h1>
            <h5>NOT JUST MAKE FRIENDS BUT INTO IT.</h5>
        </section>
    </header>
<section id="activity_info">
    <!-- 藍色背景 -->
    <section class="activity_bg_blue" >
        <!-- 麵包屑 -->
        <ul class="activity_ul_breadcrumb">
            <li><a href="./index.html">首頁</a></li>
            <li>></li>
            <li><a>ACTIVITIES</a></li>
        </ul>
        <!-- 嶼我同行 -->
        <section class="activity_main_us" v-if="activity.length > 0">
            <h1>嶼我同行</h1>
            <h4>官方揪團, 與我們一起同行</h4>
            <ul >
                <li>
                    <img :src="activity[0][0]" alt="">
                    <article class="activity_span">
                        <span>活動主題： {{activity[0][1]}}</span>
                        <span>活動地點： {{activity[0][2]}}</span>
                        <span>活動日期： {{activity[0][3]}}</span>
                        <span>報名截止： {{activity[0][4]}}</span>
                        <span>人數限制： {{activity[0][5]}}</span>
                    </article>
                    <article class="activity_a_beside">
                        <a href="./officalEvent.html" class="btnXL_w--s">詳細資訊</a>
                        <a  href="" class="btnXL_y--s">我要報名</a>
                    </article>                   
                </li>
                <li>
                    <img :src="activity[1][0]" alt="">
                    <article class="activity_span">
                        <span>活動主題： {{activity[1][1]}}</span>
                        <span>活動地點： {{activity[1][2]}}</span>
                        <span>活動日期： {{activity[1][3]}}</span>
                        <span>報名截止： {{activity[1][4]}}</span>
                        <span>人數限制： {{activity[1][5]}}</span>
                    </article>
                    <article class="activity_a_beside">
                        <a href="./officalEvent.html" class="btnXL_w--s">詳細資訊</a>
                        <a  href="" class="btnXL_y--s">我要報名</a>
                    </article>
                </li>
                <li>
                    <img :src="activity[2][0]" alt="">
                    <article class="activity_span">
                        <span>活動主題： {{activity[2][1]}}</span>
                        <span>活動地點： {{activity[2][2]}}</span>
                        <span>活動日期： {{activity[2][3]}}</span>
                        <span>報名截止： {{activity[2][4]}}</span>
                        <span>人數限制： {{activity[2][5]}}</span>
                    </article>
                    <article class="activity_a_beside">
                        <a href="./officalEvent.html" class="btnXL_w--s">詳細資訊</a>
                        <a  href="" class="btnXL_y--s">我要報名</a>
                    </article>
                </li>
            </ul>  
            <!-- 按鈕 -->
            <div class="activity_button_more">
                <img src="./images/xiaojiang/wb.svg" alt="">
                <a href="./activityList.html" class="btnXL_w activity_more_us">更多活動
                </a>    
            </div>
        </section>
    </section>
        <!-- 藍色背景下面 -->
        <section class="activity_bg_bottom">

            <img  src="./images/xiaojiang/activity_bg.svg" alt="">

            <!-- 藍色鳥鳥 -->
            <section class="activity_bluebird">
                <img class="activity_img_bluebird" src="./images/xiaojiang/bluebird.svg" alt="">
                <a href="./createEvent.html">
                    <img class="activity_img_dialog" src="./images/xiaojiang/dialog.svg" alt="">
                </a>
            </section>

        </section>    

        <!-- 嶼友同行 -->
        <section class="activity_main_user" v-if="activity.length > 0">
            <h1>嶼友同行</h1>
            <h4>嶼友揪團, 與好友相約出遊</h4>
            <ul>
                <li>
                    <article class="activity_a_beside" >
                        <a href="./createEventDetail.html" class="btnXL_b--s">詳細資訊</a>
                        <a  href="" class="btnXL_y--s">我要報名</a>
                    </article>
                    <article class="activity_span">
                        <span>活動主題： {{activity[3][1]}}</span>
                        <span>活動地點： {{activity[3][2]}}</span>
                        <span>活動日期： {{activity[3][3]}}</span>
                        <span>報名截止： {{activity[3][4]}}</span>
                        <span>人數限制： {{activity[3][5]}}</span>
                    </article>
                    <article class="activity_right_avatar">
                    <!-- 頭像 -->
                    <div><img id="avatar" class="avatar1" :src="activity[3][6]" alt=""></div>
                    <!-- 圖片 -->
                    <img :src="activity[3][0]" alt="">
                    </article>
                </li>
                <li>
                    <article class="activity_a_beside">
                        <a href="./createEventDetail.html" class="btnXL_b--s">詳細資訊</a>
                        <a  href="" class="btnXL_y--s">我要報名</a>
                    </article>
                    <article class="activity_span">
                        <span>活動主題： {{activity[4][1]}}</span>
                        <span>活動地點： {{activity[4][2]}}</span>
                        <span>活動日期： {{activity[4][3]}}</span>
                        <span>報名截止： {{activity[4][4]}}</span>
                        <span>人數限制： {{activity[4][5]}}</span>
                    </article>
                    <article class="activity_right_avatar">
                        <!-- 頭像 -->
                        <div><img id="avatar" class="avatar2" :src="activity[4][6]" alt=""></div>
                        <!-- 圖片 -->
                        <img :src="activity[4][0]" alt="">
                    </article>
                </li>
            </ul>

            <!-- 按鈕 -->
            <div class="activity_button_more2">
                <img src="./images/xiaojiang/bb.svg" alt="">
                <a href="./activityList.html" class="btnXL_b activity_more_user">更多揪團</a>
            </div>


            <!-- 頭像談窗 -->
                <!-- 外面mask -->
                <section class="personal_mask_user mask_user1">
                    <!-- 彈跳視窗 -->
                    <section class="personal_popup_user popup_user1">
                        <!-- 白線 -->
                        <div class="personal_card_out">
                            <!-- 頭像 -->
                            <div class="personal_card_left card_left1">
                                <img :src="activity[3][6]" alt="">
                            </div>
                            <!-- 右邊介紹 -->
                            <div class="personal_card_right card1">
                                <div class="personal_card_span">
                                    <span>名稱：{{activity[3][8]}}</span>
                                    <span>興趣：{{activity[3][9]}}</span>
                                    <span>生日：{{activity[3][10]}}</span>
                                    <p>自我介紹：{{activity[3][11]}}
                                                                    
                                    </p>
                                </div>
                                <!-- 按鈕 -->
                                <div class="personal_card_button">
                                    <a href="reportForm.html" class="btnL_w--s">檢舉鳥友</a>
                                    <button class="btnL_y">成為鳥友</button>
                                </div>
                            </div>

                        </div>
                    </section>              
                </section>

                <!-- 外面mask -->
                <section class="personal_mask_user mask_user2">
                    <!-- 彈跳視窗 -->
                    <section class="personal_popup_user popup_user2" v-if="activity.length > 0">
                        <!-- 白線 -->
                        <div class="personal_card_out">
                            <!-- 頭像 -->
                            <div class="personal_card_left card_left2">
                                <img :src="activity[4][6]" alt="">
                            </div>
                            <!-- 右邊介紹 -->
                            <div class="personal_card_right card2">
                                <div class="personal_card_span">
                                    <span>名稱：{{activity[4][8]}}</span>
                                    <span>興趣：{{activity[4][9]}}</span>
                                    <span>生日：{{activity[4][10]}}</span>
                                    <p>自我介紹：{{activity[4][11]}}
                                                                    
                                    </p>
                                </div>
                                <!-- 按鈕 -->
                                <div class="personal_card_button">
                                    <a href="reportForm.html" class="btnL_w--s">檢舉鳥友</a>
                                    <button class="btnL_y">成為鳥友</button>
                                </div>
                            </div>

                        </div>
                    </section>              
                </section>
        </section>
   
</section>

        @@include('./layout/footer.html')
    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.3/ScrollTrigger.min.js"></script>   
    <script src="./js/activity.min.js"></script>

</body>
</html>