<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>發起揪團</title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js"></script> -->
    
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    @@include('./layout/head.html')
    
    
    <script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <!-- <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.19/dist/sweetalert2.all.min.js"></script> -->
</head>
<body>
    @@include('./layout/header.html')
    <div id="createEvent">
        <form id="inputform" v-show="currentStep == 0" >
            <div class="bgcBlue createEvent_div_wrapperB">
                <div class="createEvent_div_container">
                    <header>
                        <a href="index.html" class="createEvent_a_logo"><img src="./images/logo/logo_white_final.svg"></a>
                        <h1>發起揪團</h1>

                        <ul class="createEvent_ul_breadcrumb">
                            <li><a href="#">首頁</a></li>
                            <li>></li>
                            <li>發起揪團</li>
                        </ul>
                    </header>

                    <span class="iconify birdy" data-icon="icon-park-outline:bird" style="color: #f2bf61;" data-width="90" data-flip="horizontal"></span>

                    <main>
                        <img src="./images/backgroundimg/attraction_c1.svg" class="createEvent_icon_cloud1">
                        <img src="./images/backgroundimg/attraction_c1.svg" class="createEvent_icon_cloud2">
                        <section class="createEvent_section_rule">
                            <h3>如何發起</h3>
                            <h4>給發起的活動訂個主題並選擇喜歡的地點與日期，僅能發起7天後的團，截止日期為活動日的3天前。注意，每個欄位都需要填寫哦!</h4>
                        </section>
                        <img src="./images/backgroundimg/createEvent_arrow.svg" class="createEvent_icon_arrow">
                        <div class="createEvent_div_createForm">
                            <ul class="createEvent_ul_formR">
                                <li>
                                    <h4>活動主題 </h4>
                                    <input class="validation" type="text" id="eventTitle" v-model="eventTitle">
                                </li>
                                <li>
                                    <h4>活動日期 </h4>
                                    <input class="validation" type="text" id="eventDate" v-model="eventDate">
                                </li>
                                <li>
                                    <h4>活動時間 </h4>
                                    <input class="validation" type="text" id="eventTimeStart" v-model="eventTimeStart" >
                                    ~ 
                                    <input class="validation" type="text" id="eventTimeEnd" v-model="eventTimeEnd">
                                    
                                </li>
                                <li>
                                    <h4>參加年齡</h4>
                                    <select v-model="minAge" style="width: 120px;margin-right: 15px;">
                                        <!-- <option value="" style="display: none;">請選擇區域</option> -->
                                        <option v-for="age in 65" :value="age" v-if="age>=18">{{age}}</option>
                                    </select>
                                    ~
                                    <select v-model="maxAge" style="width: 120px;margin-left: 15px;">
                                        <!-- <option value="" style="display: none;">請選擇區域</option> -->
                                        <option v-for="age in 65" :value="age" v-if="age>=minAge">{{age}}</option>
                                    </select>
                                </li>
                            </ul>

                            <ul class="createEvent_ul_formL">
                                <li>
                                    <h4>活動區域</h4>
                                    <select class="validation" v-model="selectedType" @change="selectedArea">
                                        <option value="" style="display: none;">請選擇區域</option>
                                        <option v-for="type in selectedlist" :value="type.ID">{{type.TYPENAME}}</option>
                                    </select>
                                    <select class="validation ex" v-model="selectedspot" @change="selectedmax">
                                        <option value="" style="display: none;">請選擇地點</option>
                                        <option v-for="spot in selectedspots" :value="spot.ID">{{spot.NAME}}</option>
                                    </select>
                                </li>
                                <li class="numOfPeople">
                                    <h4>人數上限</h4>
                                    <select class="validation" v-model="numOfPeople">
                                        <option value="" style="display: none;">請選擇人數</option>
                                        <option v-for="(num, i) in maxArray" :value="num">{{num}}</option>
                                    </select>
                                    <h5>人數限制 3 -<span>{{selectedMax}}</span> 人</h5>
                                </li>
                                <li>
                                    <h4>活動內容</h4>
                                    <textarea class="validation" name="eventContent" v-model="eventContent"></textarea>
                                </li>
                            </ul>
                        </div>
                        <section class="createEvent_section_feeAndDeadline">
                            <h4>入場費用<span>NT$ {{selectedCost}} /每人</span></h4>
                            <!-- <h4>報名截止時間  <input style="background-color: red;" type="text" id="stopDate" v-model="stopDate">  上午 10 : 00</h4> -->
                            
                            <h4>報名截止時間  {{stopDate}}  上午 10 : 00</h4>
                
                            <!-- <div>
                                <span class="iconify edit" data-icon="bi:pencil" style="color: #2f4858;" data-width="24"></span>
                            </div> -->
                        </section>
                        <img src="./images/backgroundimg/attraction_c1.svg" class="createEvent_icon_cloud3">
                        <img src="./images/backgroundimg/attraction_c1.svg" class="createEvent_icon_cloud4">
                        <span class="iconify btnbird" data-icon="fa-solid:kiwi-bird" style="color: #2f4858;" data-width="60"></span>
                    </main>

                </div>
            </div>

            <img class="createEvent_div_bg" src="./images/backgroundimg/createEvent_bg.svg">

            <div class="createEvent_div_wrapperW">
                <div class="container">
                    <div class="createEvent_div_choosePhoto">
                        <div class="createEvent_div_choosePhotoL">
                            <h3>請選擇一張圖片 或 上傳一張照片</h3>
                            <div class="createEvent_div_photoZone">
                                <img :src="image" id="createEvent_draggable" class="ui-widget-content">
                            </div>
                            <input type="button" class="btnXL_b--s" value="選擇上傳照片">
                            <label class="btnXL_b--s">
                                <input type="file" @change="selectedFile">選擇上傳照片
                            </label>
                        </div>
                        <div class="createEvent_div_choosePhotoR">
                            <ul>
                                <li class="1"><img src="./images/backgroundimg/createEvent_presetimg1.webp"></li>
                                <li class="2"><img src="./images/backgroundimg/createEvent_presetimg2.webp"></li>
                                <li class="3"><img src="./images/backgroundimg/createEvent_presetimg3.webp"></li>
                                <li class="4"><img src="./images/backgroundimg/createEvent_presetimg4.webp"></li>
                            </ul>
                        </div>
                    </div>
                    <section class="createEvent_section_note">
                        <h4>報名截止時間到期後，若報名者未達最低人數，此揪團活動將會自動被取消，請大家熱情邀約志同道合的鳥友們</h4>
                    </section>
                    <!-- <input type="submit" class="btnXL_b createEvent_btn_submitCreate" value="發起揪團"> -->
                    <!-- <input type="submit" class="btnXL_b createEvent_a_createbtn" @click="createConfirm" value="發起揪團"> -->
                    <!-- <a class="btnXL_b createEvent_a_createbtn" href="createEventConfirm.html">發起揪團</a> -->
                    <a class="btnXL_b createEvent_a_createbtn" @click="createConfirm">發起揪團</a>
                
                    <div style="display: none;">
                        <textarea style="border: 5px solid #abc;" v-model="sqlstr" id="" cols="30" rows="10"></textarea>
                        <input type="text" v-model="query" >
                        <button @click.prevent="sql">sss</button>
                    </div>
                
                
                </div>
                @@include('./layout/footer.html')
            </div>
        </form>

        <form v-show="currentStep == 1">
            <div class="createEventConfirm_div_wrapper">
                <div class="marquee">WHERE THE NEW START BEGINS, WHERE THE NEW BEGIN STARTS.</div>
                <header>
                    <!-- @@include('./layout/nav.html') -->
                    <a href="index.html" class="createEventConfirm_div_logo"><img src="./images/logo/logo_blue_final.svg"></a>
                    <h5>NOT JUST MAKE FRIENDS  BUT INTO IT.</h5>
                    
                    <div class="createEventConfirm_div_uploadimg">
                        <!-- <img src="./images/backgroundimg/createConfirmuploadimg.jpg"> -->
                        <img :src="image" :style="potoposition" name="photo">
                        <!-- <div class="createEventConfirm_div_circleimg"></div> -->
                    </div>
                    
                    <div class="createEventConfirm_div_member">
                        <img :src="hostavatar">
                    </div>
                </header>
            </div>
        
            <img class="createEventConfirm_div_bg" src="./images/backgroundimg/createEventConfirm_bg.svg">
            
            <div class="createEventConfirm_div_wrapperB">
                <div class="createEventConfirm_div_container">
                        <ul class="createEventConfirm_ul_breadcrumb">
                            <li><a href="index.html">首頁</a></li>
                            <li>></li>
                            <li><a href="createEvent.html">一同去揪遊</a></li>
                            <li>></li>
                            <li>確認頁面</li>
                        </ul>
        
                    <main>
                        <section class="createEventConfirm_section_eventDetail">
                            <ul>
                                <li>
                                    <h4>活動主題</h4>
                                    <h4>{{eventTitle}}</h4>
                                </li>
                                <li>
                                    <h4>活動時間</h4>
                                    <h4>{{eventDate}}</h4>
                                </li>
                                <li>
                                    <h4>活動日期</h4>
                                    <h4>{{eventTimeStart}} ~ {{eventTimeEnd}}</h4>
                                </li>
                                <li>
                                    <h4>活動區域</h4>
                                    <h4>{{eventType}} - {{eventSpot}}</h4>
                                </li>
                                <li>
                                    <h4>參加年齡</h4>
                                    <h4>{{minAge}} ~ {{maxAge}} 歲</h4>
                                </li>
                                <li>
                                    <h4>入場費用</h4>
                                    <h4>NT$ {{selectedCost}} /每人</h4>
                                </li>
                                <li>
                                    <h4>揪團人數</h4>
                                    <h4>{{numOfPeople}} 人 (人數限制 3 ~ {{numOfPeople}}人)</h4>
                                </li>
                                <li>
                                    <h4>報名截止時間</h4>
                                    <h4>{{stopDate}} 10  A.M.</h4>
                                </li>
                            </ul>
                            <span class="iconify iconifyB" data-icon="emojione-v1:bird" style="color: #f2bf61; font-size: 100px;"></span>
                            <img src="./images/backgroundimg/attraction_c1.svg" class="createEventConfirm_icon_cloud1">
                            <img src="./images/backgroundimg/attraction_c1.svg" class="createEventConfirm_icon_cloud2">
                            <img src="./images/backgroundimg/createConfirm_birdY.svg" class="createEventConfirm_icon_birdY">
                        </section>
                        <section class="createEventConfirm_section_eventContent">
                            <h4>活動內容描述</h4>
                            <h4>{{eventContent}}</h4>
                        </section>
                        <div class="createEventConfirm_div_btns">
                            <span class="iconify iconifyY" data-icon="fa-solid:kiwi-bird" style="color: #f2bf61; font-size: 60px;" data-flip="horizontal"></span>
                            <a id="cancel" href="" @click.prevent="cancelCreate">取消揪團</a>
                            <input @click="ajaxInsertData" id="yes" type="button" class="btnXL_y" value="確定揪團">
                        </div>
                    </main>
                </div>
                
                @@include('./layout/footer.html')
            </div>
        </form>

    </div>
    <script src="./js/createEvent.min.js"></script>

</body>
</html>