<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="60353520409-vorqrmhferhfum27sactiqdkhd02nknt.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    @@include('./layout/head.html')
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.19/dist/sweetalert2.all.min.js"></script>
</head>
<body>
    <div class="sign_container sign_bg">
        <span class="thislog"></span>
        <main class="sign_wrapper" id="sign_wrapper">
            <div id="signUpE" class="form-cont signUp-cont">
                <form action="./php/createAcc.php" method="POST">
                    <h4>加入鳥語 島嶼</h4>
                    
                    <input v-model="lname" type="text" placeholder="姓名" name="NAME">
                    <input v-model="lnick" type="text" placeholder="暱稱" name="NICKNAME">
                    <input v-model="lemail" type="email" placeholder="Email" name="EMAIL">
                    <input v-model="ltel" type="tel" placeholder="行動電話" name="PHONE">
                    <input v-model="lbirth" type="date" name="BIRTH">
                    <input v-model="lpwd" type="password" placeholder="密碼" name="PASSWORD" id="pwd_s">
                    <input v-model="lcpwd" type="password" placeholder="確認密碼" onkeyup="validate()" id="pwd_c">
                    <div id="check"></div>
                    <div class="btnGroup">
                        <input class="btnS_b" type="button" @click="clear" value="清除">
                        <input id="submit" class="btnS_b" type="submit" value="送出" style="display:none;">
                        <input id="ckeckmit" class="btnS_b" @click="submit" type="submit" value="送出">
                    </div>
                </form>
            </div>
            <div class="form-cont signIn-cont">
                <form id="logIn" method="">
                    <h4>登入</h4>
                    <div class="g-signin2" data-width="300" data-height="50" data-longtitle="true" data-onsuccess="onSignIn"></div>
                    <span class="hr-login">or</span>
                    
                    <input v-model="email" type="email" placeholder="Email" name="EMAIL">
                    <input v-model="pwd" type="password" placeholder="密碼" name="PASSWORD">
                    <div class="btnGroup">
                        <input class="btnS_y" @click="clear" type="button" value="清除">
                        <input class="btnS_y" @click="submit" type="submit" value="登入">
                    </div>

                        <a id="missingBtn" href="###">忘記密碼?</a>

                </form>
                <form id="findPwd" action="">
                    <h4>忘記密碼</h4>

                    <input type="email" placeholder="Email">
                    <a href="">重新發送驗證碼</a>

                    <a href="###" id="loginBtn">登入</a>
                </form>
            </div>
            <div class="overlay-cont">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <a class="icon" href="./index.html">
                            <img src="./images/logo/logo_blue_final.svg" alt="">
                        </a>
                        <h4>加入鳥語 島嶼</h4>
                        <a class="btnXL_w--s" id="signIn">註冊</a>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <a class="icon" href="./index.html">
                            <img src="./images/logo/logo_white_final.svg" alt="">
                        </a>
                        <h4>已經是島語 鳥嶼<br>的成員了?</h4>
                        <a class="btnXL_y--s" id="signUp">登入</a>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="./js/sign.min.js"></script>

</body>
</html>