<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @@include('./layout/head.html')
    <title>鳥語鳥嶼會員中心</title>
</head>
<body class="personal_body">

    @@include('./layout/header.html')
    <div class="personal_body1">
        
    <div class="personal_div_wrapper">
        @@include('./layout/backend/personalTop.html')
        <!-- 麵包屑以下 -->
        <main class="personalEvent_main" id="personal_event">
            <nav class="personalEvent_nav_change">
                <ul>
                    <li v-for="(val,i) in pagelist" :data-n="i" @click="chgpage">{{val}}</li>
                </ul>
            </nav>
            <!-- 內容清單 -->
            <component :is="personalpage"></component>
            
        </main>
    </div>
</div>
@@include('./layout/footer.html')
<script>
    Vue.component('personalpage1',{
        data(){
            return{
                php:[],
                php2:[]
            }
        },
    template:`
    <personal_eventList :infor="php" :infor2="php2"></personal_eventList>
        `,
        mounted(){  
            const url1 = './php/personal_event.php?quest=1';
        fetch(url1)
            .then(response => response.json())
            .then((text) =>{
                this.php = text
            } );
            const url2 = './php/personal_event.php?quest=4';
            fetch(url2)
                .then(response => response.json())
                .then((text) =>{
                    this.php2 = text
                } );
            },
    })
    
    Vue.component('personalpage2',{
        data(){
            return{
                php:[],
                php2:[],
            }
        },
    template:`
    <personal_eventList :infor="php" :infor2="php2"></personal_eventList>
        `,
        mounted(){  
            const url1 = './php/personal_event.php?quest=2';
        fetch(url1)
            .then(response => response.json())
            .then((text) =>{
                this.php = text
            } );
            const url2 = './php/personal_event.php?quest=5';
        fetch(url2)
            .then(response => response.json())
            .then((text) =>{
                this.php2 = text
            } );
        },
    })
    
    Vue.component('personalpage3',{
        data(){
            return{
                php:[],
            }
        },
    template:`
    <personal_eventList :infor="php"></personal_eventList>
        `,
        mounted(){  
            const url1 = './php/personal_event.php?quest=3';
        fetch(url1)
            .then(response => response.json())
            .then((text) =>{
                this.php = text
            } );
        },
    })
    Vue.component('personal_eventList',{
        props:['infor','infor2'],
    template:`
    <ul class="personalEvent_ul_list">
                <li v-for="(val,i) in infor" :data-n="i">
                    <img :src="val[0]" >
                    <section class="activityList_span">
                        <ul>
                            <li>
                                <span>活動主題：{{val[1]}}</span>
                                <span>活動地點：{{val[2]}}</span>
                                <span>活動日期：{{val[3]}} {{val[4]}}</span>
                                <span>報名截止：{{val[5]}}</span>
                                <span>人數：{{val[6]}}/{{val[7]}}人</span>
                            </li>
                        </ul>
                    </section>
                    <div>
                        <h4>{{val[8]}}</h4>
                        <a :href="'./createEventRecord.html?activityid=' + val[10]" class="btnXL_b">
                            詳細資訊
                        </a>
                    </div>
                </li>
                <li v-for="(val,i) in infor2" :data-n="i">
                    <img :src="val[0]" >
                    <section class="activityList_span">
                        <ul>
                            <li>
                                <span>活動主題：{{val[1]}}</span>
                                <span>活動地點：{{val[2]}}</span>
                                <span>活動日期：{{val[3]}} {{val[4]}}</span>
                                <span>報名截止：{{val[5]}}</span>
                                <span>人數：{{val[6]}}/{{val[7]}}人</span>
                            </li>
                        </ul>
                    </section>
                    <div>
                        <h4>{{val[8]}}</h4>
                        <a :href="'./createEventRecord.html?activityid=' + val[10]" class="btnXL_b">
                            詳細資訊
                        </a>
                    </div>
                </li>
            </ul>
        `,})

    new Vue({
            el:'#personal_event',
            data:{
                content:'',
                pagelist:['報名中','過往報名紀錄','個人揪團紀錄'],
                personalpage:'',
            },
            methods: {
                chgpage(e){
                   let n = parseInt(e.target.dataset.n)
                   this.personalpage = `personalpage${n+1}`
                   $('.li_select').removeClass('li_select');
                        e.target.classList.add('li_select')
                }
            },
        });
</script>
</body>
</html>