<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大嶼商行</title>
    @@include('./layout/head.html')
    <!-- <script src="./js/vue.min.js"></script> -->
    <script src="./js/nav.min.js"></script>
    
</head>
<body id="store_body" class="bgcBlue">
        @@include('./layout/header.html')
        <header class="store_header">
            <div id="store_div_sliderBoard">
                <ul id="store_ul_sliderImg">
                    <li class="store_li_slider">
                        <img src="./images/store/slider1.jpg" class="store_img_slider">
                    </li>
        
                    <li class="store_li_slider">
                        <img src="./images/store/slider2.jpg" class="store_img_slider">
                    </li>
        
                    <li class="store_li_slider">
                        <img src="./images/store/slider3.jpg" class="store_img_slider">
                    </li>
                </ul>
        
                <ul id="store_ul_sliderBtn">
                    <!-- <li></li>
                    <li></li>
                    <li></li> -->
                </ul>
    
                <div id="store_div_titleSection">
                    <a href="./index.html"><img src="./images/logo/logo_white_final.svg" class="store_img_logo"></a>
                    <h1 class="store_h1_title">大嶼商行</h1>
                    <h3 class="store_h3_subtitle">嶼人 * 旅人 - 嶼回憶的起始點</h3>
                </div>
            </div>        
        </header>

        <section id="store_section_breadCrumb">
            <a href="index.html">首頁</a>
            <p class="textWhite">&nbsp;&gt;&nbsp;</p>
            <h5>大嶼商行</h5>
        </section>

        <section id="store_section_filterBtn">
            <!-- <button v-for="(couldBtn, index) in btns" :data-i="index" class="all">
                <h4>{{couldBtn}}</h4>
            </button> -->
            
            <button class="store_btn_filter" id="store_filter_all">
                <span id="store_icon_birdBold" class="iconify" data-icon="ph:bird-bold" style="color: white;" data-width="70" data-height="70"></span>
                <h4>ALL</h4>
            </button>
            <button class="store_btn_filter" id="store_filter_1">
                <span id="store_icon_birdT1" class="iconify" data-icon="ph:bird-bold" style="color: white;" data-width="70" data-height="70"></span>
                <h4>服飾</h4>
            </button>
            <button class="store_btn_filter" id="store_filter_2">
                <span id="store_icon_birdT2" class="iconify" data-icon="ph:bird-bold" style="color: white;" data-width="70" data-height="70"></span>
                <h4>配件</h4>
            </button>
            <button class="store_btn_filter" id="store_filter_3">
                <span id="store_icon_birdT3" class="iconify" data-icon="ph:bird-bold" style="color: white;" data-width="70" data-height="70"></span>
                <h4>其他</h4>
            </button>
        </section>

        <main class="store_main_product" id="productInformation">
            <!-- <component :is="countent" :productinfo="productinfo"></component> -->
            <div class="productWrapper" :data-type="product[2]" v-for="product in render_list">
                <div class="productFrame"></div>
                <div class="productCircle bgcYellow"></div>
                <a href="./productDetail.html"><img :src="product[0]" class="productPic"></a>
                <p class="producNm textWhite">{{product[1]}}</p>
                <ul class="productColor">
                    <li class="productColorLi bgcWhite" :data-img="product[0]" @click="changeImg"></li>
                    <li class="productColorLi bgcYellow" :data-img="product[3]" @click="changeImg"></li>
                    <li class="productColorLi bgcBlue" :data-img="product[4]" @click="changeImg"></li>
                </ul>
                <div class="productBtn">
                    <a href="./payment.html" class="pay btnS_w">直接結帳</a>
                    <button class="addToCart btnS_y" @click="addToCart2" :data-id="product">商品詳細</button>
                </div>
            </div>
            <!-- @@include('./layout/product.html')
            @@include('./layout/product.html')
            @@include('./layout/product.html')
            @@include('./layout/product.html')
            @@include('./layout/product.html')
            @@include('./layout/product.html')
            @@include('./layout/product.html')
            @@include('./layout/product.html') -->
        </main>
        <span id="hidden"></span>
        <section class="store_section_moreBtn">
            <span id="birdBold" class="iconify" data-icon="ph:bird-bold" style="color: white;" data-width="60" data-height="60" data-flip="horizontal"></span>
            <button class="store_moreBtn btnXL_w">更多商品</button>
        </section>

        
        
        @@include('./layout/footer.html') 
        <!-- <script src="./js/nav.min.js"></script> -->
        <script src="./js/store.min.js"></script>
</body>
</html>