<ul class="applicants_ul_check">
    <li><a href="#" class="applicants">
        <span class="iconify" data-icon="ant-design:user-outlined" style="color: #2f4858; font-size: 25px;"></span>
    </a></li>
    <li><a href="#" class="applicants">
        <span class="iconify" data-icon="ant-design:user-outlined" style="color: #2f4858; font-size: 25px;"></span>
    </a></li>
    <li><a href="#" class="applicants">
        <span class="iconify" data-icon="ant-design:user-outlined" style="color: #2f4858; font-size: 25px;"></span>
    </a></li>
    <li><a href="#" class="applicants_a_look">10 人報名 ></a></li>
</ul>