<footer>
    <!-- <div id="b2top">
        <img src="./images/b2top.png" alt="">
    </div> -->
    <div class="footer_info">
        <div class="footer_wrap">
            <div class="attend">
                <p><i class="fa-regular fa-copyright"></i> Whisper chu All Rights Reserved.</p>

                <p>本網站為緯育TibaMe前端設計工程師班第76期第2組學員專題成果作品，本平台僅供學習、展示之用。</p>
            </div>
            <div class="social_link">
                <ul>
                    <li><a><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a><i class="fa-brands fa-line"></i></a></li>
                    <li><a><i class="fa-solid fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>