<nav class="main-header">
        <div class="navItem">
            <label for="" class="menu-icon">
                <div class="bird">
                    <div id="memberInfo">
                        <img id="avatarP" src="https://cf.shopee.tw/file/774c14c31c0bc3544182fd79b95503fa" >
                        <span id="nick">辰</span>
                       <a href="###"><i class="fa-solid fa-comment"></i></a>
                       <a href="./php/logout.php">登出<i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                    </div>
                </div>
            </label>
            <input type="checkbox" class="menu-btn" id="menu-btn">
            <label for="menu-btn" class="menu-icon">
                <span class="menu-icon__line"></span>
            </label>
            
            <label for="" class="menu-icon" id="nav_shoppingCart_icon">
                <a href="" class="cart">
                    <div id="shoppingCart_quantity" class="textWhite"></div>
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </label>
            <ul class="nav-links">
                <li class="nav-link"><a href="./index.html#islandWrapper">地圖</a></li>
                <li class="nav-link"><a href="./store.html">禮品店</a></li>
                <li class="nav-link"><a href="./role.html">鳩團大廳</a></li>
                <li class="nav-link"><a href="./createEvent.html">揪團去</a></li>
                <li class="nav-link"><a href="./about.html">團隊介紹</a></li>
                <li class="nav-link"><a href="./faq.html">FAQ</a></li>
                <li class="nav-link">
                    <div class="social_link">
                        <ul>
                            <li><a><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a><i class="fa-brands fa-line"></i></a></li>
                            <li><a><i class="fa-solid fa-envelope"></i></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>