<nav class="main-header">
        <div class="navItem">
            <label for="" class="menu-icon">
                <a href="../personalMain.html" class="bird">
                    <i class="fa-brands fa-earlybirds"></i>
                </a>
            </label>
            <input type="checkbox" class="menu-btn" id="menu-btn">
            <label for="menu-btn" class="menu-icon">
                <span class="menu-icon__line"></span>
            </label>
            
            <label for="" class="menu-icon">
                <a href="" class="cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </label>
            <ul class="nav-links">
                <li class="nav-link"><a href="./noline.html">禮品店</a></li>
                <li class="nav-link"><a href="./role.html">創建角色</a></li>
                <li class="nav-link"><a href="">揪團去</a></li>
                <li class="nav-link"><a href="./about.html">團隊介紹</a></li>
                <li class="nav-link"><a href="./faq.html">FAQ</a></li>
            </ul>
        </div>
    </nav>