<nav class="main-header">
        <div class="navItem">
            <label for="" class="menu-icon">
                <div class="bird">
                    <div id="memberInfo">
                        
                    </div>
                </div>
            </label>
            <input type="checkbox" class="menu-btn" id="menu-btn">
            <label for="menu-btn" class="menu-icon">
                <span class="menu-icon__line"></span>
            </label>
            
            <label for="" class="menu-icon" id="nav_shoppingCart_icon">
                <a href="###" class="cart">
                    <div id="shoppingCart_quantity" class="textWhite"></div>
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </label>
            <ul class="nav-links">
                <li class="nav-link"><a href="./index.html#islandWrapper">地圖</a></li>
                <li class="nav-link"><a href="./store.html">禮品店</a></li>
                <li class="nav-link"><a href="./activityList.html">活動總覽</a></li>
                <li class="nav-link"><a href="./createEvent.html">揪團去</a></li>
                <li class="nav-link"><a href="./about.html">團隊介紹</a></li>
                <li class="nav-link"><a href="./faq.html">FAQ</a></li>
                <li class="nav-link">
                    <div class="social_link">
                        <ul>
                            <li><a><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a><i class="fa-brands fa-line"></i></a></li>
                            <li><a><i class="fa-solid fa-envelope"></i></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <aside id="sideCart" class="side_cart">
        <div class="close">
             <h3>購物清單</h3>
        </div>
        <ul>
            <li>
                <div class="proPic">
                    <!-- {{ product.pic }}  -->
                    <img src="./Vector001.png" alt="">
                </div>
                <div class="proList">
                    <!-- {{ product.name }}  -->
                    <span>鳥語帽</span>
                    <!-- {{ product.amount }}  -->
                    <span>$495</span>
                    <!-- {{ product.qua }}  -->
                    <span>數量 1</span>
                </div>
                <div class="deleteBuy">
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </li>
            <li>
                <div class="proPic">
                    <!-- {{ product.pic }}  -->
                    <img src="./Vector001.png" alt="">
                </div>
                <div class="proList">
                    <!-- {{ product.name }}  -->
                    <span>鳥語帽</span>
                    <!-- {{ product.amount }}  -->
                    <span>$495</span>
                    <!-- {{ product.qua }}  -->
                    <span>數量 1</span>
                </div>
                <div class="deleteBuy">
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </li>
            <li>
                <div class="proPic">
                    <!-- {{ product.pic }}  -->
                    <img src="./Vector001.png" alt="">
                </div>
                <div class="proList">
                    <!-- {{ product.name }}  -->
                    <span>鳥語帽</span>
                    <!-- {{ product.amount }}  -->
                    <span>$495</span>
                    <!-- {{ product.qua }}  -->
                    <span>數量 1</span>
                </div>
                <div class="deleteBuy">
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </li>
            <li>
                <div class="proPic">
                    <!-- {{ product.pic }}  -->
                    <img src="./Vector001.png" alt="">
                </div>
                <div class="proList">
                    <!-- {{ product.name }}  -->
                    <span>鳥語帽</span>
                    <!-- {{ product.amount }}  -->
                    <span>$495</span>
                    <!-- {{ product.qua }}  -->
                    <span>數量 1</span>
                </div>
                <div class="deleteBuy">
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </li>
            <li>
                <div class="proPic">
                    <!-- {{ product.pic }}  -->
                    <img src="./Vector001.png" alt="">
                </div>
                <div class="proList">
                    <!-- {{ product.name }}  -->
                    <span>鳥語帽</span>
                    <!-- {{ product.amount }}  -->
                    <span>$495</span>
                    <!-- {{ product.qua }}  -->
                    <span>數量 1</span>
                </div>
                <div class="deleteBuy">
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </li>
            <li>
                <div class="proPic">
                    <!-- {{ product.pic }}  -->
                    <img src="./Vector001.png" alt="">
                </div>
                <div class="proList">
                    <!-- {{ product.name }}  -->
                    <span>鳥語帽</span>
                    <!-- {{ product.amount }}  -->
                    <span>$495</span>
                    <!-- {{ product.qua }}  -->
                    <span>數量 1</span>
                </div>
                <div class="deleteBuy">
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </li>
        </ul>
        <hr>
        <div class="total_price">
            <span>total</span>
            <!-- {{ product.total }}  -->
            <span>$3995</span>
        </div>
        <a href="###" class="cart_check">前往確認</a>
    </aside>