<div class="productWrapper">
    <div class="productFrame"></div>
    <div class="productCircle bgcYellow"></div>
    <a href="../productDetail.html"><img src="./images/store/cap.png" class="productPic"></a>
    <h4 class="producNm textWhite">嶼商鋪-踏上回憶的旅程</h4>
    <ul class="productColor">
        <li class="productColorLi bgcWhite"></li>
        <li class="productColorLi bgcPink"></li>
        <li class="productColorLi bgcYellow"></li>
    </ul>
    <div class="productBtn">
        <a href="../shoppingCart.html" class="pay btnL_w">直接結帳</a>
        <button class="addToCart btnL_y">加入購物車</button>
    </div>
</div>