<div class="productWrapper">
    <div class="productFrame"></div>
    <div class="productCircle bgcYellow"></div>
    <img src="./images/store/cap.png" class="productPic">
    <h4 class="producNm textWhite">嶼商鋪-踏上回憶的旅程</h4>
    <ul class="productColor">
        <li class="bgcWhite"></li>
        <li class="bgcPink"></li>
        <li class="bgcYellow"></li>
    </ul>
    <div class="productBtn">
        <button class="pay btnL_w">直接結帳</button>
        <button class="addToCart btnL_y">加入購物車</button>
    </div>
</div>