<li class="shoppingCart_li_list bgcWhite">
    <div class="pics">
        <div class="circle bgcYellow"></div>
        <img src="./images/store/cap.png">
    </div>

    <div class="detail">
        <p id="name" class="textBlue">商品名</p>
        <h4 class="textBlue">數量&nbsp&nbsp1</h4>
        <p id="price" class="textBlue">價格&nbsp$499</p>
    </div>
    <button id="shoppingCart_icon_trash" ><span class="iconify" data-icon="fa-solid:trash-alt" style="color: #2f4858;" data-width="33" data-height="41"></span></button>
    <img src="./images/shoppingCart/shoppingCartLing.png" class="dashLine">
</li>